---
title: 老来宝计划三投保
---

<div class="main-container elderly-accident-purchase">

  <%= partial '../../../partials/header.html' %>

  <section class="page-head bg-img p-y-md">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row c2 h-bg text-white">
        <div class="col-sm-6">
          <h1 class="h3 f-w-900 m-b-0">
            老人意外保险 计划三
          </h1>
        </div>
        <div class="col-sm-6 text-right">
          <ol class="breadcrumb m-b-0">
            <li>
              <a href="/serials/elderly-accident/" class="inverse text-edit" target="_blank">⇤ 回老人意外保险计划首页</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="place-order p-y-md">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li role="presentation">
              <a href="#review-terms" aria-controls="review-terms" role="tab" data-toggle="tab">
                方案详情
              </a>
            </li>
            <li role="presentation" class="active">
              <a href="#order" aria-controls="order" role="tab" data-toggle="tab">
                在线投保
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="review-terms">
              <div class="row">
                <div class="col-md-12 p-a">
                  <article>
                    <h5>投保说明</h5>
                    <table class="table table-bordered">
                      <tr>
                        <td class="col-xs-4 col-sm-2 col-md-2">投保年龄</td>
                        <td class="col-xs-8 col-sm-10 col-md-10">50周岁以上（含）身体健康者</td>
                      </tr>
                      <tr>
                        <td>保险期间</td>
                        <td>1年</td>
                      </tr>
                      <tr>
                        <td>保障范围</td>
                        <td>北京市域内</td>
                      </tr>
                      <tr>
                        <td>投保上限</td>
                        <td>4份/人</td>
                      </tr>
                    </table>
                    <h5>保障内容</h5>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="col-xs-8 col-sm-10 col-md-10">保险项目</th>
                          <th class="col-xs-4 col-sm-2 col-md-2">保险金额</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>意外伤害身故或残疾</td>
                          <td>30,000元</td>
                        </tr>
                        <tr>
                          <td>意外伤害医疗<br>（100元免赔，80%报销）</td>
                          <td>2,000元</td>
                        </tr>
                        <tr>
                          <td>意外伤害住院日定额给付<br>（每个保单年度累计给付日数以180日为限）</td>
                          <td>30元/天</td>
                        </tr>
                        <tr>
                          <td>飞机交通工具意外伤害</td>
                          <td>200,000元</td>
                        </tr>
                        <tr>
                          <td>火车交通工具意外伤害</td>
                          <td>100,000元</td>
                        </tr>
                      </tbody>
                    </table>
                    <h5>备注</h5>
                    <p>
                      凡被保险人在北京市域内发生的意外事故，保险人均承担相应的保险责任。责任范围之外的其他情形，例如老年人因疾病导致的身故及医疗费用支出、老年人离京期间（乘坐飞机或火车期间除外）发生的意外伤害事故等，均不属于保险责任范围，保险人不承担保险金给付责任。
                    </p>
                    <h5>理赔说明</h5>
                    <p>
                      本保险产品由中国人寿保险股份有限公司北京市分公司承保，您可以通过华夏经纪客服或者中国人寿客户服务热线 010—95519 了解中国人寿北京各区域服务网点和理赔需要提交的有效证件，前往各地中国人寿网点提交所需资料办理理赔。华夏经纪为您提供全程协助理赔服务，让您理赔更快捷、更省心、更放心。
                    </p>
                    <p>
                      报案和理赔流程：
                    </p>
                    <ol>
                      <li>
                        <p>保险公司报案</p>
                      </li>
                      <li>
                        <p>
                          准备理赔材料
                        </p>
                      </li>
                      <li>
                        <p>
                          向保险公司提供书面材料
                        </p>
                      </li>
                      <li>
                        <p>
                          保险公司审核
                        </p>
                      </li>
                      <li>
                        <p>
                          获取赔偿
                        </p>
                      </li>
                    </ol>
                    <h5>保险条款</h5>
                    <ul>
                      <li></li>
                      <li></li>
                    </ul>
                  </article>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="order">
              <div class="row">
                <div class="col-md-12 p-a">
                  <form class="form-horizontal" id="orderForm">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">购买份数</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" step="1" value="1">
                        <div class="help-block alert alert-danger" role="alert" id="name_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          每位被保人不能超过4份。
                        </div>
                        <p class="help-block">每位被保人仅限购买4份。</p>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="col-sm-2 control-label">保单生效日</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="start_time" name="start_time">
                        <p class="help-block">
                          您可以指定30天内的日期作为保单生效日。如果您的实际付款时间晚于指定的保单生效日，系统则自动将保单生效日修改为付款日的第二天。最终生效日期以保险公司出具的电子保单为准。
                        </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">价格</label>
                      <div class="col-sm-10">
                        <p class="price">￥120元<p>
                      </div>
                    </div>


                    <hr class='m-y-lg'>
                    <h4>投保人信息</h4>
                    <div class="form-group">
                      <label for="name" class="col-sm-2 control-label">投保人姓名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="请填写投保人真实姓名">
                        <!-- 未输入 -->
                        <div class="help-block alert alert-danger" role="alert" id="name_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您没有输入投保人姓名，请输入。
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="credentials_no" class="col-sm-2 control-label">身份证号码</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="credentials_no" name="credentials_no" placeholder="投保人身份证号码">
                        <!-- 身份证格式有误 -->
                        <div class="help-block alert alert-danger" role="alert" id="credentials_no_alert" style="display:none">
                          
                        </div>
                        
                        <p class="help-block">
                          身份证号是投保人及被投保人的唯一标识，保证被保险人本人确实获得保险权益。<br>
                        </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="birthday" class="col-sm-2 control-label">出生日期</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="birthday" name="birthday" disabled>
                        <p class="help-block">
                          系统将根据身份证号码为您填写，无需手工填写。
                        </p>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-2 control-label">性别</label>
                      <div class="col-sm-10">
                        <label class="radio-inline">
                          <input type="radio" name="sex" value="1" disabled> 男
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="sex" value="0" disabled> 女
                        </label>
                        <p class="help-block">
                          系统将根据身份证号码为您填写，无需手工勾选。
                        </p>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="mobile_phone_no" class="col-sm-2 control-label">手机号码</label>
                      <div class="col-sm-10">
                        <input type="tel" class="form-control" id="mobile_phone_no" name="mobile_phone_no" placeholder="被保人手机号码">
                        <!-- 手机号码格式有误 -->
                        <div class="help-block alert alert-danger" role="alert" id="mobile_phone_no_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您输入的手机号有误，请核对并更正。
                        </div>
                        <p class="help-block">请仔细核对，用于接收保单信息。</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-sm-2 control-label">电子邮箱</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="被保人电子邮箱">
                        <!-- 邮箱码格式有误 -->
                        <div class="help-block alert alert-danger" role="alert" id="email_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您输入的邮箱有误，请核对并更正。
                        </div>
                        <p class="help-block">请仔细核对，用于接收保单信息。</p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">我是被保人的：</label>
                      <div class="col-sm-10">
                        <label class="radio-inline">
                          <input type="radio" name="applicantAsInsured" value="1"> 本人（为自己投保）
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="applicantAsInsured" value="0"> 妻子
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="applicantAsInsured" value="0"> 丈夫
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="applicantAsInsured" value="0"> 儿女
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="applicantAsInsured" value="0"> 其他
                        </label>
                        <div class="help-block alert alert-danger" role="alert" id="email_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您还没有说明投保人和被保人的关系。
                        </div>
                      </div>
                    </div>


                    <hr class='m-y-lg'>
                    <h4>被保人信息</h4>
                    <div class="form-group">
                      <label for="is_name" class="col-sm-2 control-label">被保人姓名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is_name" name="is_name" placeholder="请填写被保人真实姓名">
                        <!-- 未输入 -->
                        <div class="help-block alert alert-danger" role="alert" id="is_name_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您没有输入被保人姓名，请输入。
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="is_credentials_no" class="col-sm-2 control-label">身份证号码</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is_credentials_no" name="is_credentials_no" placeholder="被保人身份证号码">
                        <!-- 身份证格式有误 -->
                        <div class="help-block alert alert-danger" id="is_credentials_no_alert" role="alert" style="display:none">
                          
                        </div>
                        <p class="help-block">
                          被保人仅限50周岁以上（含）。<br>
                          身份证号是投保人及被投保人的唯一标识，保证被保险人本人确实获得保险权益。
                        </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="is_birthday" class="col-sm-2 control-label">出生日期</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is_birthday" name="is_birthday" disabled>
                        <p class="help-block">
                          系统将根据身份证号码为您填写，无需手工输入。
                        </p>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-2 control-label">性别</label>
                      <div class="col-sm-10">
                        <label class="radio-inline">
                          <input type="radio" name="is_sex" value="1" disabled> 男
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="is_sex" value="0" disabled> 女
                        </label>
                        <p class="help-block">
                          系统将根据身份证号码为您填写，无需手工勾选。
                        </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="is_birthday" class="col-sm-2 control-label">受益人</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="beneficiary" value="法定继承人" disabled>
                        <p class="help-block">
                          默认选项，无需修改。
                        </p>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="insuredHealthStatement" class="col-sm-2 control-label">健康告知</label>
                      <div class="col-sm-10">
                        <div class="scroll-window p-a m-b">
                          <%= partial '../health-statement.html' %>
                        </div>
                        <input type="checkbox" id="insuredHealthStatement" checked> 被保人不存在上述任何一种情况
                        <!-- 未勾选 -->
                        <div class="help-block alert alert-danger" role="alert" id="insuredHealthStatement_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您没有确认的健康状况，请确认。如被保人存在上述任意情况，则无法投保本计划。
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">被保险人是否居住在北京</label>
                      <div class="col-sm-10">
                        <label class="radio-inline">
                          <input type="radio" name="insuredLivesInBeijing" value="1"> 是
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="insuredLivesInBeijing" value="0"> 否
                        </label>
                        <div class="help-block alert alert-danger" id="is_credentials_no_alert" role="alert" style="display:none">
                          被保险人应居住在北京。
                        </div>
                        <p class="help-block">
                          本计划保障范围：北京市域内，请确认被保险人是否居住在北京。
                        </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="insuredHealthStatement" class="col-sm-2 control-label">声明与告知</label>
                      <div class="col-sm-10">
                        <div class="scroll-window p-a m-b">
                          <%= partial '../information-disclosure.html' %>
                        </div>
                        <input type="checkbox" id="insuredHealthStatement" checked> 了解并确认同意
                        <!-- 未勾选 -->
                        <div class="help-block alert alert-danger" role="alert" id="insuredHealthStatement_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您没有确认声明与告知。
                        </div>
                      </div>
                    </div>

                    <hr class='m-y-lg'>
                    <div class="form-group">
                      <label for="termsConfirmation" class="col-sm-2 control-label">投保申请确认</label>
                      <div class="col-sm-10">
                        <div class="scroll-window p-a m-b">
                          <%= partial '../terms-confirmation.html' %>
                        </div>
                        <input type="checkbox" id="termsConfirmation" checked> 我已阅读并确认同意以上声明
                        <!-- 未勾选 -->
                        <div class="help-block alert alert-danger" role="alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您还没有确认同意投保条款，请确认后勾选继续。
                        </div>
                      </div>
                    </div>
                    <hr class='m-y-lg'>                    
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="saveOrder" class="btn btn-green" data-loading-text="Loading..." autocomplete="off">确认投保</button>
                        <!-- 表单验证未通过 -->
                        <div class="help-block alert alert-danger" role="alert" id="order_error_alert" style="display:none">
                          您填写的内容有误，请根据系统提示的信息修改填写内容。
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= partial '../../../partials/footer.html' %>

</div>

<a href="#" class="top mature-green">返回顶部</a>

<% content_for :page_specific_js do %>
<script type="text/javascript" src="../../../javascripts/cardNo.js"></script>
<script type="text/javascript">
var cardNumber = -1;
var iscardNumber = -1;
$(function() {
    //检查被保人身份证号
    $("#is_credentials_no").change(function() {
        var cardNo = $("#is_credentials_no").val();
        if (checkEnergyCard(cardNo)) {
            var birthday = getBirthday(cardNo)
            if (verifyBirthday(birthday, 1)) {
                $("#is_credentials_no_alert").hide();
                $("#is_birthday").val(birthday);
                if (getSex(cardNo) == '男') {
                    $("input[type=radio][name=is_sex][value=1]").attr("checked", true);
                } else {
                    $("input[type=radio][name=is_sex][value=0]").attr("checked", true);
                }
                iscardNumber = 0;
            } else {
                var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>本计划仅限为28天~18周岁的被保人投保，您输入的身份证号码不在正确的年龄范围，请核对并更正。';
                $("#is_credentials_no_alert").html(alert_text);
                $("#is_credentials_no_alert").show();
                iscardNumber = 1;
            }

        } else {
            var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>您输入的身份证号码有误，请核对并更正。';
            $("#is_credentials_no_alert").html(alert_text);
            $("#is_credentials_no_alert").show();
            iscardNumber = 2;
        }
    });


    //检查投保人身份证号
    $("#credentials_no").change(function() {
        var cardNo = $("#credentials_no").val();
        if (checkEnergyCard(cardNo)) {
            var birthday = getBirthday(cardNo)
            if (verifyBirthday(birthday, 2)) {
                $("#credentials_no_alert").hide();
                $("#birthday").val(birthday);
                if (getSex(cardNo) == '男') {
                    $("input[type=radio][name=sex][value=1]").attr("checked", true);
                } else {
                    $("input[type=radio][name=sex][value=0]").attr("checked", true);
                }
                cardNumber = 0;
            } else {
                var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>投保人必须为成年人，您输入的身份证号码为未成年人，请核对并更正。';
                $("#credentials_no_alert").html(alert_text);
                $("#credentials_no_alert").show();
                cardNumber = 1;
            }

        } else {
            var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>您输入的身份证号码有误，请核对并更正。';
            $("#credentials_no_alert").html(alert_text);
            $("#credentials_no_alert").show();
            cardNumber = 2;
        }
    });


    // 是否同意协议处理
    $('#termsConfirmation,#insuredHealthStatement').on('click', function() {
        if ($('#termsConfirmation').is(':checked') && $('#insuredHealthStatement').is(':checked')) {
            $('#saveOrder').removeAttr("disabled");
            $('#saveOrder').attr("class", "btn btn-green");
        } else {
            $('#saveOrder').attr("disabled", "true");
            $('#saveOrder').attr("class", "btn btn-gray");
        }
    });


    // 确认下单
    $('#saveOrder').on('click', function() {
        $('#is_name_alert').hide();
        $("#is_credentials_no_alert").hide();
        $('#name_alert').hide();
        $("#credentials_no_alert").hide();
        $('#mobile_phone_no_alert').hide();
        $('#email_alert').hide();
        if (!checkinput()) {
            return false;
        }
        var btn = $('#saveOrder');
        var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>';
        $.ajax({
            url: API_URL + '/order/place',
            type: 'post',
            dataType: "JSON",
            data: $('#orderForm').serialize(),
            async: true,
            beforeSend: function() {
                btn.button('loading');
            },
            complete: function() {
                btn.button('reset');
            },
            success: function(obj) {
                if (obj.status.code == 0) {
                    var orderId = obj.data.id;
                    console.log('下单成功，订单号为：'+orderId);
                } else {
                    alert_text = alert_text + '您输入的信息有误，请检查错误项，更正后再提交。';
                    $('#order_error_alert').html(alert_text);
                    $('#order_error_alert').show();
                }
            },
            error: function(data) {
                alert_text = alert_text + '系统错误，请刷新后重试！';
                $('#order_error_alert').html(alert_text);
                $('#order_error_alert').show();
            }
        });
    });
});

//校验生日
function verifyBirthday(birthday, type) {
    var now = new Date();
    var now_year = now.getFullYear();
    var birthday_date = new Date(birthday);
    var year = birthday_date.getFullYear();
    //被保人
    if (type == 1) {
        //判断年份的范围（28天到18岁之间)
        var time = now_year - year;
        var days = (now - birthday_date) / (1000 * 60 * 60 * 24); // 计算生日距今多少天
        if (days >= 28 && time <= 38) {
            return true;
        }
    } else if (type == 2) {
        //投保人
        //判断年份的范围（18岁-100岁)
        var time = now_year - year;
        if (time > 18 && time <= 100) {
            return true;
        }
    } else if (type == 3) {
        //投保人
        //判断年份的范围（2岁-18岁)
        var time = now_year - year;
        if (time >= 2 && time <= 18) {
            return true;
        }
    }
    return false;
}

//检查输入项
function checkinput() {
    var is_name = $('#is_name').val();
    if (is_name == '') {
        $('#is_name_alert').show();
        $('#is_name').focus();
        return false;
    }

    //被保人身份证号
    if (iscardNumber == -1 || iscardNumber == 1 || iscardNumber == 2) {
        var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>';
        if (iscardNumber == -1) {
            alert_text = alert_text + '请输入投保人身份证号码。';
        } else if (iscardNumber == 1) {
            alert_text = alert_text + '本计划仅限为28天~18周岁的被保人投保，您输入的身份证号码不在正确的年龄范围，请核对并更正。';
        } else if (iscardNumber == 2) {
            alert_text = alert_text + '您输入的身份证号码有误，请核对并更正。';
        }
        $("#is_credentials_no_alert").html(alert_text);
        $("#is_credentials_no_alert").show();
        $('#is_credentials_no').focus();
        return false;
    }

    var name = $('#name').val();
    if (name == '') {
        $('#name_alert').show();
        $('#name').focus();
        return false;
    }

    //被保人身份证号
    if (cardNumber == -1 || cardNumber == 1 || cardNumber == 2) {
        var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>';
        if (cardNumber == -1) {
            alert_text = alert_text + '请输入投保人身份证号码。';
        } else if (cardNumber == 1) {
            alert_text = alert_text + '本计划仅限为28天~18周岁的被保人投保，您输入的身份证号码不在正确的年龄范围，请核对并更正。';
        } else if (cardNumber == 2) {
            alert_text = alert_text + '您输入的身份证号码有误，请核对并更正。';
        }
        $("#credentials_no_alert").html(alert_text);
        $("#credentials_no_alert").show();
        $('#credentials_no').focus();
        return false;
    }

    var mobile_phone_no = $('#mobile_phone_no').val();
    if (!checkMobil(mobile_phone_no)) {
        $('#mobile_phone_no_alert').show();
        $('#mobile_phone_no').focus();
        return false;
    }

    var email = $('#email').val();
    if (!checkEmail(email)) {
        $('#email_alert').show();
        $('#email').focus();
        return false;
    }
    return true;
}

$.extend($.fn.pickadate.defaults, {
  monthsFull: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
  weekdaysShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
  today: '今天',
  clear: '清除',
  close: '关闭',
  format: 'yyyy-mm-dd'
})

if( $("#start_time").length ) {
    var currentDate = new Date();
    var tomorrow = new Date(currentDate.getFullYear(), currentDate.getMonth(),  currentDate.getDate() + 1);
    var thirtyOneDayAfter = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() + 31);
    $('#start_time').pickadate({
        min: tomorrow,
        max: thirtyOneDayAfter,
        onStart: function() {
          this.set('select', [tomorrow.getFullYear(), tomorrow.getMonth(), tomorrow.getDate() + 1]);
        }
    });
}
</script>
<% end %>
