.elderly-accident {
  .heroes {
    height: 600px;
    .product-icon {
      background-color: white;
      width: 120px;
      height: 120px;
      position: absolute;
      z-index: 100;
      float: left;
      top: 76px;
      left: 50%;
      margin-left: -60px;
    }
    .overlay {
      background: none;
      z-index: 80;
      @include background-image(linear-gradient(rgba(white, 0), rgba(white, 0) 50%, rgba(black, 0.5) 80%, rgba(black, 0.5)));
    }
    .hero {
      height: 600px !important;
      .intro {
        position: absolute;
        bottom: 76px;
        width: 100%;
        text-align: center;
        z-index: 100;
        h1 {
          line-height: 28px;
          small {
            @include text-shadow(none);
            background-color: $mature-orange;
            color: white;
            font-size: 14px;
            padding: 2px 5px;
            @include border-radius(3px);
          }
        }
        p {
          font-family: 'fzjljt';
          font-weight: 900;
        }
      }
      &.hero-1 {
        background-image: url('/images/elderly-accident/heroes/hero-1.jpg');
      }

      &.hero-2 {
        background-image: url('/images/elderly-accident/heroes/hero-2.jpg');

      }
    }
    .owl-controls {
      margin-top: -24px;
    }
  }

  .heros-for-legacy-ie {
    overflow: auto;
    table {
      width: 100%;
      tr, td {
        padding: 0;
        border: none;
        text-align: center;
        img {
          max-width: 100%;
        }
      }
    }
  }

  .solutions {
    .solution {
      background-color: #F5F5F5;
      /*background-color: black;*/
      @include border-radius(4px);
      position: relative;
      padding: 30px 10px 2px 10px;
/*      .sequence-number {
        display: inline;
        float: left;
        position: absolute;
        left: 10px;
        top: 10px;
      }*/

      .icon {
        margin: -30px -10px 0 -10px;
      }
      .descriptions {
        p {
          margin-bottom: 15px;
          span.content {
            font-size: 1.5em;
            line-height: 1.6em;
            color: $mature-orange;
          }
        }
      }
    }
    .notes {
      border: 1px dotted #CECECE;
      @include border-radius(4px);
    }
  }
}