.high-end-health {
  .heroes {
    height: 600px;
    .product-icon {
      background-color: white;
      width: 120px;
      height: 120px;
      position: absolute;
      z-index: 100;
      float: left;
      top: 76px;
      left: 50%;
      margin-left: -60px;
    }
    .overlay {
      background: none;
      z-index: 80;
      @include background-image(linear-gradient(rgba(white, 0), rgba(white, 0) 50%, rgba(black, 0.5) 80%, rgba(black, 0.5)));
    }
    .hero {
      height: 600px !important;
      .intro {
        position: absolute;
        bottom: 76px;
        width: 100%;
        text-align: center;
        z-index: 100;
        h1 {
          line-height: 28px;
          small {
            @include text-shadow(none);
            background-color: $mature-pink;
            color: white;
            font-size: 14px;
            padding: 2px 5px;
            @include border-radius(3px);
          }
        }
        p {
          font-family: 'fzjljt';
          font-weight: 900;
        }
      }
      &.hero-1 {
        background-image: url('/images/high-end-health/heroes/hero-1.jpg');
      }

      &.hero-2 {
        background-image: url('/images/high-end-health/heroes/hero-2.jpg');

      }
      &.hero-3 {
        background-image: url('/images/high-end-health/heroes/hero-3.jpg');
      }
    }
    .owl-controls {
      margin-top: -24px;
    }
  }

  .heros-for-legacy-ie {
    overflow: auto;
    table {
      width: 100%;
      tr, td {
        padding: 0;
        border: none;
        text-align: center;
        img {
          max-width: 100%;
        }
      }
    }
  }


  .at-a-glance {
    background: #F9E6E5;
    background-image: url(/images/high-end-health/cubes-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    h5 {
      color: $mature-pink;
    }
    ul.check-icon-bullets {
      @include no-bullets;
      padding-left: 22px;
      li {
        text-indent: -1.4em;
        &:before {
          font-family: iconfont;
          content: "\e66c";
          float: left;
          width: 1.4em;
        }
      }
    }
    .btn {
      width: 100%;
      h4 {
        margin: 0;
      }
    }
  }

  .features {
    background-image: url(/images/high-end-health/bottom-based-cloud-bg.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: cover;
    h3, h4 {
      color: #FF5252;
    }
  }

  .payment-convenience {
    background-image: url(/images/high-end-health/perspective-grids.png);
    background-color: $teenage-pink;
    background-repeat: no-repeat;
    background-position: right bottom;
    .figure {

    }
  }

  .extensive-network {
    h3 {
      color: $mature-pink;
    }
  }

  .featured-ppos {

  }

  .global-coverage {
    background-color: $teenage-pink;
    background-image: url(/images/high-end-health/world-map.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    .airplane {
      position: relative;
      .white-bg {
        width: 100%;
        height: 50%;
        background: white;
        position: absolute;
      }
    }
  }

  .contact {
    .lead {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .form-horizontal {
      margin-left: 15px;
      margin-right: 15px;
    }

    .form-horizontal label {
      text-transform:uppercase;
      float: left;
      font-weight: 900;
      font-size: 12px;
      line-height: 16px;
    }

    .form-horizontal .checkbox input[type=checkbox] {
      bottom: 6px;
    }

    .other-methods {
      font-size: 13px;
      line-height: 17px;
      text-align: left;
      a {
        color: $mature-pink;
        border: dotted $mature-pink;
        border-width: 0 0 1px 0;
      }
    }
  }


  .lion-head {
    width: 120px;
    height: 120px;
    position: relative;
    .hair, .face {
      width: 100%;
      height: 100%;
      float: left;
      display: inline;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    .hair-1 {
      background-image: url(/images/high-end-health/lion-head/hair-1.png);
      animation: breath 8s infinite ease-in-out, shake 10s linear infinite;
    }
    .hair-2 {
      background-image: url(/images/high-end-health/lion-head/hair-2.png);
      animation: breath 4s infinite ease-in-out, shake 10s linear infinite;
      animation-delay: 2s;
    }
    .hair-3 {
      background-image: url(/images/high-end-health/lion-head/hair-3.png);
      animation: breath 5s infinite ease-in-out, shake 10s linear infinite;
    }
    .hair-4 {
      background-image: url(/images/high-end-health/lion-head/hair-4.png);
      animation: breath 3s infinite ease-in-out, shake 10s linear infinite;
      animation-delay: 5s;
    }
    .face-1 {
      background-image: url(/images/high-end-health/lion-head/face-1.png);
      animation: face-1 36s linear infinite;
    }
    .face-2 {
      background-image: url(/images/high-end-health/lion-head/face-2.png);
      animation: face-2 36s linear infinite;
    }
    .face-3 {
      background-image: url(/images/high-end-health/lion-head/face-3.png);
      animation: face-3 36s linear infinite, keep-smiling 5s linear infinite;
    }
    @keyframes shake {
      0% {
        @include transform(rotate(0));
      }
      25% {
        @include transform(rotate(10deg));
      }
      75% {
        @include transform(rotate(-10));
      }
      100% {
        @include transform(rotate(0));
      }
    }
    @keyframes breath {
      0% {
        @include opacity(1);
      }
      50% {
        @include opacity(0.5);
      }
      100% {
        @include opacity(1);
      }
    }
    @keyframes face-1 {
      0% {
        @include opacity(1);
      }
      3% {
        @include opacity(1);
      }
      6% {
        @include opacity(0);
      }
      97% {
        @include opacity(0);
      }
      100% {
        @include opacity(1);
      }
    }
    @keyframes face-2 {
      0% {
        @include opacity(0);
      }
      3% {
        @include opacity(0);
      }
      6% {
        @include opacity(1);
      }
      9% {
        @include opacity(1);
      }
      12% {
        @include opacity(0);
      }
      100% {
        @include opacity(0);
      }
    }
    @keyframes face-3 {
      0% {
        @include opacity(0);
      }
      9% {
        @include opacity(0);
      }
      12% {
        @include opacity(1);
      }
      97% {
        @include opacity(1);
      }
      100% {
        @include opacity(0);
      }

    }
    @keyframes keep-smiling {
      0% {
        @include transform(skewX(0));
      }
      25% {
        @include transform(skewX(2deg));
      }
      75% {
        @include transform(skewX(-2deg));
      }
      100% {
        @include transform(skewX(0));
      }
    }
  }  
}