.k-12 {
  .hero {
    height: inherit;
    background-color: #FAFBB0;
    background-repeat: no-repeat;
    .intro {
      h1 {
        color: #03B095;
      }
      p.leading {
        color: #8DA3A0;
      }
    }
    .illustration {
      img {
        max-height: 400px;
      }
    }
  }
  .solutions {
    .solution {
      background-color: #F5F5F5;
      /*background-color: black;*/
      @include border-radius(4px);
      position: relative;
      padding: 30px 10px 2px 10px;
      .sequence-number {
        display: inline;
        float: left;
        position: absolute;
        left: 10px;
        top: 10px;
      }
      .descriptions {
        p {
          margin-bottom: 15px;
          span.content {
            font-size: 1.5em;
            line-height: 1.6em;
            color: $mature-green;
          }
        }
      }
    }
    .notes {
      border: 1px dotted #CECECE;
      @include border-radius(4px);
    }
  }
  .safety-precautions {
    background-color: $teenage-green;
    .point {
      figure {
        position: relative;
        overflow: hidden;
        background: #333;
        img {
          position: relative;
          display: block;
          width: 100%;
          opacity: 0.7;
          -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
        }
        a {
          position: absolute;
          padding: 4px 20px;
          border: none;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: bold;
          -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
          transition: opacity 0.3s, transform 0.3s;
          bottom: 0;
          left: 0;
          padding: 15px;
          width: 100%;
          background: #fff;
          color: #333;
          font-weight: 300;
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
        }
      }
      figcaption {
        position: absolute;
        top: 0;
        z-index: 11;
        padding: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
        h2 {
          margin: 0 0 20px 0;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 300;
          font-size: 130%;
          -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
          color: $mature-green;
          line-height: 1.4em;
        }
        p {
          padding: 0 20px;
          color: #aaa;
          font-weight: 300;
          -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
          transition: opacity 0.3s, transform 0.3s;
          -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
          max-height: 80px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 13px;
        }
        h2, p {
          -webkit-transform: translateY(50px);
          transform: translateY(50px);
          -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1); /* older webkit */
          -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
          timing-function: cubic-bezier(0.250, 0.250, 0.115, 1.445);
        }
      }
      figcaption,
      figcaption h2,
      figcaption p,
      figure button {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      svg {
        position: absolute;
        top: -1px; /* fixes rendering issue in FF */
        z-index: 10;
        width: 100%;
        height: 100%;
        path {
          fill: #fff;
        }
      }
      &:hover figure img {
        opacity: 1;
      }
      &:hover figcaption h2,
      &:hover figcaption p {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      &:hover figcaption p {
        opacity: 0;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
      }
      &:hover figure a {
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
  .book-promotion {
    background-image: url(/images/k-12/book-promotion-bg.png);
    background-repeat: no-repeat;
    img.book-cover {
      max-height: 400px;
    }
    .intro {
      margin-top: 20%;
    }
  }
  .insurance-providers {
    background-color: #F5F5F5;
  }
  @media only screen and (max-width : 991px) {
    .hero {
      text-align: left;
    }
  }
  @media only screen and (max-width : 767px) {
    .hero {
      text-align: center;
    }
    .safety-precautions {
      .point {
        figcaption {
          h2 {
            line-height: 1em;
          }
          h2, p {
            @include transform(translateY(30px));
          }
        }
      }
    } 
    .book-promotion {
      .intro {
        margin-top: -60px;
        padding-bottom: 60px;
      }
    }
  }
}