.orders {
  .order {
    &.waiting-for-payment {
      .panel {
        .panel-body {
          background-color: #F9FFC8;
        }
      }
    }
    .panel {
      .panel-body {
        p {
          line-height: 100px;
          margin-bottom: 0;
        }
      }
      .panel-footer {
        ul.actions {
          @include inline-block-list-container;
          text-align: right;
          > li {
            @include inline-block-list-item(10px);
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  .gateways {
    &:hover {
      .gateway {
        @include opacity(0.4);
      }
    }
    &.wechat-enabled {
      .alipay {
        @include opacity(0.4);
      }
      .wechat {
        @include opacity(1);
        .qr-code {
          display: block;
          border-radius: 4px;
          border: 1px solid rgb(221, 221, 221);
          margin-top: 18px;
          position: relative;
          background-color: #F5F5F5;
        }
      }
    }
    .gateway {
      @include transition(0.5s);
      &:hover {
        @include opacity(1);
      }
      .qr-code {
        display: none;
      }
    }
  }
}