.validation-failed-notice {
  display: none;
}

.place-order {
  .tab-content {
    border: 1px solid #ddd;
    border-top-color: transparent;
    @include border-bottom-radius(4px);
  }
  .scroll-window {
    border: 2px #d4d9dd solid;
    background-color: #F5F5F5;
    @include border-radius(4px);
    max-height: 200px;
    overflow: auto;
  }
  p.price {
    color: #657380;
    font-size: 15px;
    font-weight: 700;
    padding: 16px;
    color: $mature-orange;
  }
}
