@import 'compass';

$baby-pink: #FFE6E6;
$teenage-pink: #FF9494;
$mature-pink: #FF5252;

$teenage-green: #56B68B;
$mature-green: #03B095;

$mature-orange: #ef7c46;

@font-face {
  font-family: 'fzjljt';
  src: url('/fonts/fzjljt-subset.eot');
  src: local('☺'), url('/fonts/fzjljt-subset.woff') format('woff'), url('/fonts/fzjljt-subset.ttf') format('truetype'), url('/fonts/fzjljt-subset.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
}

.text-white {
  & .better-readability, &.better-readability {
    @include text-shadow(rgba($mature-pink, 0.8) 1px 1px 0);
  }
}

.top.mature-pink {
  background-color: $mature-pink;
}

.top.mature-green {
  background-color: $mature-green;
}

.top.mature-orange {
  background-color: $mature-orange;
}

.btn-pink {
  background-color: $mature-pink;
  border: 3px solid $mature-pink;
}

@import 'high-end-health';

@import 'k-12';

@import 'purchase';

@import 'elderly-accident';

@import 'orders';


.login {
  button.get-verification-code {
    margin-top: 21px;
    width: 100%;
    height: 57px;
  }
}

.page-head {
  background-image: url(/images/patterns/polygonal-1.jpg);
  background-position: center;
}

.notice-for-legacy-ie {
  position: fixed;
  padding: 10px;
  background-color: red;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 20px;
  text-align: center;
}

.truncate-with-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width : 1199px) {
}


@media only screen and (max-width : 991px) {

}


@media only screen and (max-width : 767px) {
}


@media only screen and (max-width : 479px) {

}