<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TITLE OF SITE -->
    <title><%= current_page.data.title || "万能保 | 北京华夏保险经纪有限公司" %></title>

    <meta name="description" content="「华夏保险经纪有限公司」是经中国保监会批准成立的全国性综合性保险经纪公司，成立于2004年3月，注册资金1000万元，总部设在北京。">
    <meta name="keywords" content="保险,买保险,保险产品,健康险,高端健康险,华夏保险,保险经纪">
    <meta name="author" content="万能保,北京华夏保险经纪有限公司">

    <!-- FAVICON  -->
    <!-- Place your favicon.ico in the images directory -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    
    <!-- =========================
       STYLESHEETS 
    ============================== -->
    <!-- BOOTSTRAP CSS -->
    <%= stylesheet_link_tag "plugins/bootstrap.min.css" %>

    <!-- FONT ICONS -->
    <%= stylesheet_link_tag "plugins/iconfont.css" %>
    <%= stylesheet_link_tag "plugins/font-awesome.min.css" %>
     
    <!-- Lato FONTS -->
    <%# stylesheet_link_tag "plugins/lato.css" %>
    
    <!-- PLUGINS STYLESHEET -->
    <%= stylesheet_link_tag "plugins/magnific-popup.css" %>
    <%= stylesheet_link_tag "plugins/owl.carousel.css" %>
    <%= stylesheet_link_tag "plugins/loaders.css" %>
    <%= stylesheet_link_tag "plugins/animate.css" %>
    <%= stylesheet_link_tag "plugins/pickadate-default.css" %>
    <%= stylesheet_link_tag "plugins/pickadate-default.date.css" %>
    
    <!-- CUSTOM STYLESHEET -->
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "custom.css" %>

    <!-- RESPONSIVE FIXES -->
    <%= stylesheet_link_tag "responsive.css" %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'plugins/html5shiv.min.js' %>
      <%= javascript_include_tag 'plugins/respond.min.js' %>
    <![endif]-->

  <style type="text/css"></style>
  <!--
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?7501a0c28680d7a65a599c3aa0871630";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
  -->
</head>

<body data-spy="scroll" data-target="#main-navbar" class="<%= page_classes %>">

  <%= yield %>

  <!--[if lt IE 9]>
    <div class="notice-for-legacy-ie">
      您的浏览器过于陈旧，请建议您立即升级。使用谷歌、火狐、猎豹、360 或最高版本的 IE 浏览器都可以获得更好的使用体验。
    </div>
  <![endif]-->

  <%= javascript_include_tag 'plugins/jquery-1.12.1.min.js' %>
  <%= javascript_include_tag 'plugins/bootstrap.min.js' %>
  <%= javascript_include_tag 'plugins/jquery.easing.1.3.min.js' %>
  <%= javascript_include_tag 'plugins/jquery.countTo.js' %>
  <%= javascript_include_tag 'plugins/jquery.jCounter-0.1.4.js' %>
  <%= javascript_include_tag 'plugins/jquery.magnific-popup.min.js' %>
  <%= javascript_include_tag 'plugins/jquery.vide.min.js' %>
  <%= javascript_include_tag 'plugins/owl.carousel.min.js' %>
  <%= javascript_include_tag 'plugins/spectragram.min.js' %>
  <%= javascript_include_tag 'plugins/wow.min.js' %>
  <%= javascript_include_tag 'plugins/picker.js' %>
  <%= javascript_include_tag 'plugins/picker.date.js' %>
  <%= javascript_include_tag 'plugins/snap.svg-min.js' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'plugins/svgeezy.min.js' %>
  <![endif]-->
  <!-- Custom Script -->
  <%= javascript_include_tag 'custom.js' %>
  <%= javascript_include_tag 'common.js' %>

  <!--[if gt IE 8]><!-->
  <script>
    new WOW().init();


    // BACK TO TOP BUTTON
    var offset = 300,
    //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
    offset_opacity = 1200,
    //duration of the top scrolling animation (in ms)
    scroll_top_duration = 700,
    //grab the "back to top" link
    $back_to_top = $('.top');

    //hide or show the "back to top" link
    $(window).on('scroll', function() {
      ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('is-visible') : $back_to_top.removeClass('is-visible fade-out');
      if( $(this).scrollTop() > offset_opacity ) {
          $back_to_top.addClass('fade-out');
      }
    });

    //smooth scroll to top
    $back_to_top.on('click', function(event){
      event.preventDefault();
      $('body,html').animate({
          scrollTop: 0
          }, scroll_top_duration
      );
    });
  </script>
  <!--<![endif]-->

  <!--[if lt IE 9]>
    <script type="text/javascript">
      svgeezy.init(false, 'png');
    </script>
  <![endif]-->

  <%= yield_content :page_specific_js %>
</body>
    
</html>