<div class="main-container" id="page">
  <%= partial '../partials/header.html' %>
  <section class="page-head bg-img p-y-md">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row c2 h-bg text-white">
        <div class="col-sm-6">
          <h1 class="h3 f-w-900 m-b-0">
            会员中心
          </h1>
        </div>
        <div class="col-sm-6 text-right">
          <ol class="breadcrumb m-b-0">
            <li>
              <a href="/member-center/" class="active inverse text-edit">账户信息</a>
            </li>
            <li>
              <a href="/member-center/orders.html" class="inverse text-edit">我的订单</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="orders">
    <div class="container">
      <div class="row p-y-md">
        <div class="col-md-12 text-center">
          <h3>账户信息</h3>
        </div>
      </div>
      <div class="row p-b-md">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
            <div class="row">
              <div class="col-md-12 p-a">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="applicantMobile" class="col-sm-2 control-label">手机号码</label>
                    <div class="col-sm-10">
                      <input type="tel" class="form-control" id="applicantMobile" value="" disabled>
                    </div>
                  </div>
                  <hr class='m-y-lg'>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <h4 class="p-b col-offset-sm-2">修改密码</h4>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="oldPassword" class="col-sm-2 control-label">旧密码</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="oldPassword" placeholder="请填写当前密码">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="newPassword" class="col-sm-2 control-label">新密码</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="newPassword" placeholder="请输入新密码">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="newPasswordConfirmation" class="col-sm-2 control-label">新密码确认</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="newPasswordConfirmation" placeholder="请再次输入新密码">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button class="btn btn-grey" id="updatepassword">确认修改</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= partial '../partials/footer.html' %>
</div>
<% content_for :page_specific_js do %>
<script type="text/javascript">

 $(function() {
  $.ajax({
        url: API_URL + '/users/get',
        type: 'GET',
        dataType: "JSON",
        data: {
          id : '8C60FD675225417CA313DEF558013EEF'
        },
        async: true,
        success: function(obj) {
            if (obj.status.code == 0) {
              $('#applicantMobile').val(obj.data.mobilePhoneNo);
            } else {
                alert('查询用户信息失败');
            }
        },
        error: function(data) {
            alert('系统错误，请刷新后重试！');
        }
    });

  //修改密码
  $('#updatepassword').click(function() {
    var oldPassword = $('#oldPassword').val();
    var newPassword = $('#newPassword').val();
    var newPasswordConfirmation = $('#newPasswordConfirmation').val();
    if(oldPassword=='' || newPassword=='' || newPasswordConfirmation==''){
      alert('您还有信息没有填写哦');
      return false;
    }

    if(newPassword!=newPasswordConfirmation){
      alert('确认密码与新密码不一致，请检查');
      return false;
    }

    $.ajax({
        url: API_URL + '/users/checkpassword',
        type: 'GET',
        dataType: "JSON",
        data: {
          id : '8C60FD675225417CA313DEF558013EEF',
          password : oldPassword
        },
        async: true,
        success: function(obj) {
            if (obj.status.code == 0) {
              $.ajax({
                  url: API_URL + '/users/updatepassword',
                  type: 'POST',
                  dataType: "JSON",
                  data: {
                    id : '8C60FD675225417CA313DEF558013EEF',
                    password : newPassword
                  },
                  async: true,
                  success: function(objdata) {
                      if (objdata.status.code == 0) {
                        alert('修改成功');
                        window.location.reload();
                      } else {
                          alert('修改失败');
                      }
                  },
                  error: function(data) {
                      alert('系统错误，请刷新后重试！');
                  }
              });
            } else {
                alert('原密码错误');
            }
        },
        error: function(data) {
            alert('系统错误，请刷新后重试！');
        }
    });
    return false;
  });


 });
</script>
<% end %>