<div class="main-container" id="page">
  <%= partial '../partials/header.html' %>
  <section class="page-head bg-img p-y-md">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row c2 h-bg text-white">
        <div class="col-sm-6">
          <h1 class="h3 f-w-900 m-b-0">
            会员中心
          </h1>
        </div>
        <div class="col-sm-6 text-right">
          <ol class="breadcrumb m-b-0">
            <li>
              <a href="/member-center/" class="inverse text-edit">账户信息</a>
            </li>
            <li>
              <a href="/member-center/orders.html" class="active inverse text-edit">我的订单</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="orders">
    <div class="container">
      <div class="row p-y-md">
        <div class="col-md-12 text-center">
          <h3>订单 #129871719</h3>
        </div>
      </div>
      <div class="order waiting-for-payment row p-b-md">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">订单 #129871719<span class="visible-xs-inline"> ・ ￥90.00 ・ 等待支付</span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <p class="truncate-with-ellipsis">
                    <img src="/images/solution-icons/k-12-4.png" width="100" height="100">
                    <a href="/serials/k-12/" target="_blank">学生平安保险</a> 计划四
                  </p>
                </div>
                <div class="hidden-xs col-sm-2 col-md-2">
                  <p>￥120.00</p>
                </div>
                <div class="hidden-xs col-sm-2 col-md-2 text-right">
                  <p>等待支付</p>
                </div>
              </div>
            </div>
<!--             
            未付款订单不显示这一行
            <div class="panel-footer">
              <ul class="actions">
                <li>
                  <a href="#">退款</a>
                </li>
                <li>
                  <a href="#">下载电子保单</a>
                </li>
              </ul>
            </div>
 -->
          </div>
        </div>
      </div>

      <div class="row p-b">
        <div class="col-md-12 text-center">
          <h3>立即支付</h3>
        </div>
      </div>
      <div class="row gateways wechat-enabled p-b-md">
        <div class="gateway alipay col-xs-6 col-sm-offset-2 col-sm-4 col-md-offset-3 col-md-3 text-center">
          <a href="#">
            <img class="img-responsive center-block" src="/images/payment-gateways/alipay.png" alt="使用支付宝支付" width="800" height="300">
          </a>
        </div>
        <div class="gateway wechat col-xs-6 col-sm-4 col-md-3 text-center">
          <a href="#">
            <img class="img-responsive center-block" src="/images/payment-gateways/wechat.png" alt="使用微信支付" width="800" height="300">
          </a>
          <div class="qr-code p-a">
            <p>请使用微信扫一扫进行支付</p>
            <img class="img-responsive center-block" src="/images/payment-gateways/qr-sample.png" width="800" height="800">
          </div>
        </div>
      </div>
      <div class="row p-b-md">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">投保详情</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12 p-a">
                  <form class="form-horizontal" id="orderForm">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">与被被保人关系</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value="子女" disabled>
                        <!-- 与被保人关系-->
                        <input type="hidden" name="apprlt" value="C">
                        <!-- 产品编码-->
                        <input type="hidden" name="product_id" value="P120000000314">
                        <!-- 用户ID-->
                        <input type="hidden" name="user_id" value="8C60FD675225417CA313DEF558013EEF">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">购买份数</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value="1份" disabled>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="col-sm-2 control-label">保单生效日</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="start_time" name="start_time" value="2016-03-30" disabled>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">保单截止日</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="start_time" name="end_time" value="2018-03-29" disabled>
                      </div>
                    </div>

                    <hr class='m-y-lg'>
                    <h4>被保人信息（孩子）</h4>
                    <div class="form-group">
                      <label for="is_name" class="col-sm-2 control-label">被保人姓名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is_name" name="is_name" value="张小三" disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="is_credentials_no" class="col-sm-2 control-label">身份证号码</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is_credentials_no" name="is_credentials_no" value="110123200001010020" disabled>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="is_birthday" class="col-sm-2 control-label">出生日期</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is_birthday" name="is_birthday" value="2000-01-10" disabled>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-2 control-label">性别</label>
                      <div class="col-sm-10">
                        <label class="radio-inline">
                          <input type="radio" name="is_sex" value="1" disabled checked="checked"> 男
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="is_sex" value="0" disabled> 女
                        </label>
                      </div>
                    </div>

                    <hr class='m-y-lg'>
                    <h4>投保人信息（父母）</h4>
                    <div class="form-group">
                      <label for="name" class="col-sm-2 control-label">投保人姓名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" value="张三" disabled>
                        <!-- 未输入 -->
                        <div class="help-block alert alert-danger" role="alert" id="name_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您没有输入投保人姓名，请输入。
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="credentials_no" class="col-sm-2 control-label">身份证号码</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="credentials_no" name="credentials_no" value="110123197808080981" disabled>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="birthday" class="col-sm-2 control-label">出生日期</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="birthday" name="birthday" value="1978-08-08" disabled>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-2 control-label">性别</label>
                      <div class="col-sm-10">
                        <label class="radio-inline">
                          <input type="radio" name="sex" value="1" disabled checked="checked"> 男
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="sex" value="0" disabled> 女
                        </label>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="mobile_phone_no" class="col-sm-2 control-label">手机号码</label>
                      <div class="col-sm-10">
                        <input type="tel" class="form-control" id="mobile_phone_no" name="mobile_phone_no" value="13898710876" disabled>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-sm-2 control-label">电子邮箱</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" value="john.doe@gmail.com" disabled>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <%= partial '../partials/footer.html' %>
</div>

<% content_for :page_specific_js do %>
<script type="text/javascript">
 $(function() {
  $('.gateway.wechat a').click(function() {
    if ($('.gateways').hasClass('wechat-enabled')) {
      $('.gateways').removeClass('wechat-enabled')
    } else {
      $('.gateways').addClass('wechat-enabled')
    }
    return false;
  });
 });
</script>
<% end %>