<div class="main-container" id="page">
  <%= partial '../partials/header.html' %>
  <section class="page-head bg-img p-y-md">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row c2 h-bg text-white">
        <div class="col-sm-6">
          <h1 class="h3 f-w-900 m-b-0">
            会员中心
          </h1>
        </div>
        <div class="col-sm-6 text-right">
          <ol class="breadcrumb m-b-0">
            <li>
              <a href="/member-center/" class="inverse text-edit">账户信息</a>
            </li>
            <li>
              <a href="/member-center/orders.html" class="active inverse text-edit">我的订单</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="orders">
    <div class="container">
      <div class="row p-y-md">
        <div class="col-md-12 text-center">
          <h3>我的订单</h3>
        </div>
      </div>
      <div id="order_list">
      <!--
        <div class="order row p-b-md">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">订单 #129871719<span class="visible-xs-inline"> ・ ￥90.00 ・ 保单生效</span></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-md-8">
                    <p class="truncate-with-ellipsis">
                      <img src="/images/solution-icons/k-12-1.png" width="100" height="100">
                      <a href="/serials/k-12/" target="_blank">学生平安保险</a> 计划一
                    </p>
                  </div>
                  <div class="hidden-xs col-sm-2 col-md-2">
                    <p>￥90.00</p>
                  </div>
                  <div class="hidden-xs col-sm-2 col-md-2 text-right">
                    <p>保单生效</p>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <ul class="actions">
                  <li>
                    <a href="#">退款</a>
                  </li>
                  <li>
                    <a href="#">下载电子保单</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      -->

      </div>

    </div>
  </section>

  <%= partial '../partials/footer.html' %>
</div>

<% content_for :page_specific_js do %>
<script type="text/javascript">

 $(function() {
      $.ajax({
            url: API_URL + '/order/myorder',
            type: 'GET',
            dataType: "JSON",
            data: {
              userid : '8C60FD675225417CA313DEF558013EEF'
            },
            async: true,
            success: function(obj) {
                if (obj.status.code == 0) {
                    var dataList = obj.data;
                    for(var i=0;i<dataList.length;i++){
                      var data_str = '<div class="order row p-b-md">';
                      data_str += '<div class="col-md-12">';
                      data_str += '<div class="panel panel-default">';
                      data_str += '<div class="panel-heading">';
                      data_str += '<h3 class="panel-title">订单 #'+dataList[i].id+'<span class="visible-xs-inline"> ・ ￥'+dataList[i].moneyStr+'元 ・ '+dataList[i].statusStr+'</span></h3>';
                      data_str += '</div>';
                      data_str += '<div class="panel-body">';
                      data_str += '<div class="row">';
                      data_str += '<div class="col-xs-12 col-sm-8 col-md-8">';
                      data_str += '<p class="truncate-with-ellipsis">';
                      data_str += '<img src="/images/solution-icons/k-12-1.png" width="100" height="100">';
                      data_str += '<a href="/serials/k-12/" target="_blank">学生平安保险</a>';
                      data_str += '</p>';
                      data_str += '</div>';
                      data_str += '<div class="hidden-xs col-sm-2 col-md-2">';
                      data_str += '<p>￥'+dataList[i].moneyStr+'元</p>';
                      data_str += '</div>';
                      data_str += '<div class="hidden-xs col-sm-2 col-md-2 text-right">';
                      data_str += '<p>'+dataList[i].statusStr+'</p>';
                      data_str += '</div>';
                      data_str += '</div>';
                      data_str += '</div>';
                      data_str += '<div class="panel-footer">';
                      data_str += '<ul class="actions">';

                      var order_status_id = dataList[i].order_status_id;
                      if(order_status_id == '1'){
                          data_str += '<li>';
                          data_str += '<a href="#">支付</a>';
                          data_str += '</li>';

                          data_str += '<li>';
                          data_str += '<a href="#">取消订单</a>';
                          data_str += '</li>';

                      }else if(order_status_id == '2'){
                          data_str += '<li>';
                          data_str += '<a href="#">退款</a>';
                          data_str += '</li>';
                      }else if(order_status_id == '6'){
                          data_str += '<li>';
                          data_str += '<a href="javascript:;" onclick=cancelApplication("'+dataList[i].id+'")>撤销保单</a>';
                          data_str += '</li>';
                      }else if(order_status_id == '7'){
                          data_str += '<li>';
                          data_str += '<a href="#">下载电子保单</a>';
                          data_str += '</li>';
                      }else if(order_status_id == '8'){
                          data_str += '<li>';
                          data_str += '<a href="#">退款</a>';
                          data_str += '</li>';
                      }
                      data_str += '<li>';
                      data_str += '<a href="#">订单详情</a>';
                      data_str += '</li>';

                      data_str += '</ul>';
                      data_str += '</div>';
                      data_str += '</div>';
                      data_str += '</div>';
                      data_str += '</div>';
                      data_str += '</div>';
                      $('#order_list').append(data_str);
                    }
                } else {
                    alert('查询订单列表失败');
                }
            },
            error: function(data) {
                alert('系统错误，请刷新后重试！');
            }
        });
    
 });

//撤销保单
function cancelApplication(orderNumber){
    $.ajax({
        url: API_URL + '/order/cancelApplication',
        type: 'GET',
        dataType: "JSON",
        data: {
          orderNumber : orderNumber
        },
        async: true,
        success: function(obj) {
            console.log('撤销保单-->'+obj.status.code);
            if (obj.status.code == 0) {
                console.log('撤销保单成功,进行退款操作');
                  $.ajax({
                    url: API_URL + '/wx/pay/refunds',
                    type: 'POST',
                    dataType: "JSON",
                    data: {
                      orderNumber : orderNumber
                    },
                    async: true,
                    success: function(objdata) {
                        console.log('退款-->'+objdata.status.code);
                        if (objdata.status.code == 0) {
                            alert('撤销成功，已为您自动退款，感谢您的购买。');
                            window.location.reload();
                        }
                    },
                    error: function(data) {
                        alert('系统错误，请刷新后重试！');
                    }
                });
            } else if(obj.status.code == 3){
                alert('该单不能进行撤销保单操作');
            } else {
                alert('退单失败，请联系客服');
            }
        },
        error: function(data) {
            alert('系统错误，请刷新后重试！');
        }
    });
}

</script>
<% end %>