<footer class="footer f6 p-y-md bg-edit bg-dark">
  <div class="container text-white inverse">
    <div class="row">
      <!-- Footer Logo and Text -->
      <div class="col-md-12 m-b-md">
        <img src="/images/omnins-logo.svg">
        <p class="m-t">
          北京华夏保险经纪有限公司是经中国保监会批准成立的全国性保险经纪公司
        </p>
        <p class="m-t">
          经营保险经纪业务许可证：260474000000800<br>
          统一社会信用代码：911101017596023065<br>
          <a href="http://www.miibeian.gov.cn/">京ICP备16003687号-2</a>
        </p>
        <p class="m-t">
          版权所有 © 2016 万能保
        </p>
      </div>
      <!--               <div class="col-md-offset-2 col-md-2">
        <p><b>关于</b></p>
        <ul class="footer-links m-t">
          <li class="m-b"><a href="#" class="edit">公司介绍</a></li>
          <li class="m-b"><a href="#" class="edit">董事长致辞</a></li
        </ul>
        </div> -->
      <!-- Footer Links -->
      <!--               <div class="col-md-2">
        <p><b>服务</b></p>
        <ul class="footer-links m-t">
            <li class="m-b"><a href="#" class="edit">常见问题</a></li>
            <li class="m-b"><a href="#" class="edit">在线留言</a></li>
            
            
        </ul>
        </div> -->
    </div><!--end of row-->
  </div><!--end of container-->
</footer>