<header>
  <nav class="navbar navbar-fixed-top" id="main-navbar">
    <!-- navbar fixed on top: -->
    <!--  
      <nav class="navbar navbar-fixed-top" id="main-navbar" role="navigation">
      -->
    <!-- navbar static: -->
    <!--
      <nav class="navbar navbar-static-top" id="main-navbar" role="navigation">
      -->
    <!-- background transparent: -->
    <!--
      <nav class="navbar navbar-fixed-top bg-transparent" id="main-navbar" role="navigation">
      -->
    <div class="container">
      <div class="navbar-header">
        <!-- Menu Button for Mobile Devices -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">导航开关</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!-- Image Logo -->
        <!-- note:
          recommended sizes
              width: 150px;
              height: 35px;
          -->
        <a href="/" class="navbar-brand smooth-scroll"><img src="/images/omnins-logo.svg" alt="万能保" style="border-radius: 0px; border: 1px none rgb(67, 159, 224);"></a>
        <!-- Image Logo For Background Transparent -->
        <!--
          <a href="#" class="navbar-brand logo-black smooth-scroll"><img src="images/logo-black.png" alt="logo" /></a>
          <a href="#" class="navbar-brand logo-white smooth-scroll"><img src="images/logo-white.png" alt="logo" /></a> 
          -->
      </div>
      <!-- /End Navbar Header -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <!-- Menu Links -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/serials/high-end-health/" class="smooth-scroll">
            「唯你」高端健康系列
            </a>
          </li>
          <li>
            <a href="/serials/k-12/" class="smooth-scroll">
            学生平安保险
            </a>
          </li>
          <li>
            <a href="/serials/elderly-accident/" class="smooth-scroll">
            「老来宝」老人意外保障系列
            </a>
          </li>
          <li>
            <a href="/contact.html" class="smooth-scroll">
            联系我们
            </a>
          </li>
          
          <li><a href="/login.html" class="btn-nav btn-grey btn-login">登录</a></li>
          <li><a href="/signup.html" class="btn-nav btn-green btn-signup">注册</a></li>
          
        </ul>
        <!-- /End Menu Links -->
      </div>
      <!-- /End Navbar Collapse -->
    </div>
    <!-- /End Container -->
  </nav>
  <!-- /End Navbar -->
</header>