<article>
  <ol>
    <li><p>
      贵公司已对保险合同的条款内容履行了说明义务，并对免除保险公司责任的条款履行了明确说明义务。本人已仔细阅知、理解投保提示及保险条款尤其是责任免除、解除合同等规定，并同意遵守。本人所填投保单各项及告知事项均属事实并确无欺瞒。上述一切陈述及本声明将成为贵公司承保的依据，并作为保险合同一部分。如有未如实告知内容，贵公司有权在法定期限内解除合同，并依法决定是否对合同解除前发生的保险事故承担保险责任。
    </li></p>
    <li><p>
      本人已阅读《国寿老年人特定意外伤害保险》、《国寿附加绿舟意外住院定额给付医疗保险》和《国寿通泰交通意外伤害保险（A款）（2013版）》
    </li></p>
    <li><p>
      在中国法律允许或要求的范围内，本人同意并授权承保公司将其个人信息及保单信息提供给北京保险信息平台以做合理利用。（在意外险保单承保后您可以登陆 http://www.biabii.org.cn 对您的保单信息进行查询。如果您填写手机号码，意外险信息平台将为您提供免费的投保短信提示。）
    </li></p>
  </ol>
</article>