<article>
  <ol>
    <li><p>
      本投保人授权北京华夏保险经纪有限公司作为本人的保险经纪人，并委托北京华夏保险经纪有限公司全权代为办理保险相关事宜。
    </li></p>
    <li><p>
      本投保人兹声明上述各项内容填写属实，并知道如果投保信息不真实，保险公司将有权拒陪，一切后果由本人成单。
    </li></p>
    <li><p>
      本投保人已阅读该产品<a href="#">详细条款</a>，了解并接收包括在有关责任条款及免除责任条款、犹豫期、费用扣除、退保、保险单现金价值、投保人、被保人义务的内容等重要事项。本投保人特此同意接收条款全部内容。
    </li></p>
    <li><p>
      本投保人已明确了解该保险合同的成立、生效是以保险公司出具保单为准，确认非以支付保费为保险合同的成立要件。
    </li></p>
    <li><p>
      本投保人已明确并接收本计划的<a href="#additional-info">承保机构、承保、保全变更、退保和理赔办理方式及理赔金支付方式</a>。
    </li></p>
    <li><p>
      根据《中华人民共和国合同法》第十一条规定，数据电文是合法的合同表现形式。本人接收保险公司在北京华夏保险经纪有限公司提供的电子保单作为本投保书成立生效的合法有效凭证，具有完全证据效力。
    </li></p>
  </ol>

  <hr>

  <h4 id="additional-info">承保机构、承保、保全变更、退保和理赔办理方式及理赔金支付方式</h4>
  <h5>1）承保机构</h5>
  <p>本产品承保保险公司：中国人寿保险股份有限公司北京市分公司</p>
  <p>中国人寿股份有限公司目前分支机构分布：北京、重庆、大连、宁波、青岛、上海、深圳、天津、厦门、安徽、福建、贵州、广东、甘肃、河北、河南、湖北、湖南、海南、辽宁、江西、江苏、吉林、青海、陕西、山东、山西、四川、云南、浙江、黑龙江省。</p>

  <h5>2）承保方式</h5>
  <p>本产品为中国人寿保险股份有限公司系统对接出单，有北京华夏保险经纪有限公司将客户填写信息传输至中国人寿保险股份有限公司系统，系统核保，对通过核保业务发送电子保单至客户所填邮箱，实现承保。</p>

  <h5>3）保全变更及退保、理赔服务</h5>
  <p>通过北京华夏保险经纪有限公司购买本保险的客户，后续的保单信息变更、退保或理赔服务，通过电话等向北京华夏保险经纪有限公司提出申请，北京华夏保险经纪有限公司根据保险公司的相关服务政策，与中国人寿协同办理。</p>

  <h5>4）理赔金支付</h5>
  <p>客户申请理赔，并经保险公司核赔确定的核赔金，由中国人寿保险股份有限公司将理赔款转入受益人确认的银行账户。</p>
</article>