---
title: 老人意外保险
---

<div class="main-container elderly-accident">

  <%= partial '../../partials/header.html' %>

  <!--[if gt IE 8]><!-->
  <section class="heroes p-t-md">
      <div class="row">
        <div class="owl-carousel owl-theme carousel">
          <div class="col-md-12 hero hero-1 bg-img item">
            <div class="overlay"></div>
            <div class="row intro text-white text-center">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <h1>
                  <img src="/images/elderly-accident/solution-name.svg" alt="老来宝"><br>
                  <small>老人意外保障系列</small>
                </h1>
                <p class="lead">老妈，老妈，我们去运动吧！不要在家对着股票发愁啦。慢跑，爬山都对身体好，腿脚灵便意外少。儿女放心「老来宝」！<br>「老来宝」意外保障系列产品祝爸妈们身体越来越硬朗！</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 hero hero-2 bg-img item">
            <div class="overlay"></div>
            <div class="row intro text-white text-center">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <h1>
                  <img src="/images/elderly-accident/solution-name.svg" alt="老来宝"><br>
                  <small>老人意外保障系列</small>
                </h1>
                <p class="lead">老爸，老妈，女儿不能时刻陪伴真的好担心。那次看到新闻，一位阿姨路边摔倒，无奈大喊我有医保，心中真是山排海倒。爸，妈，送您二老一份护身法宝！<br>「老来宝」意外保障产品，保您康安，保女儿心安！</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!--<![endif]-->

  <!--[if lt IE 9]>
    <div class="heros-for-legacy-ie p-t-md">
      <table>
        <tr>
          <td>
            <img src="/images/elderly-accident/heroes/legacy-ie/hero-1.jpg">
          </td>
          <td>
            <img src="/images/elderly-accident/heroes/legacy-ie/hero-2.jpg">
          </td>
      </table>
    </div>
  <![endif]-->

  <section class="solutions p-b-md" id='solutions'>
    <div class="container">
      <div class="row">
        <div class="col-*-12 p-t-md p-b text-center">
          <h3 class="wow fadeIn">选购计划</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 m-b-md">
          <div class="solution text-center">
            <!-- <p class="sequence-number">方案一</p> -->
            <div class="icon">
              <img class="img-responsive center-block" src="/images/elderly-accident/solutions/solution-i.jpg">
            </div>
            <div class="descriptions m-t-md">
              <p>
                意外伤害
                <br>
                <span class="content">30,000元</span>
              </p>
              <p>
                意外伤害医疗费用补偿
                <br>
                <span class="content">2,000元</span>
              </p>
              <p>
                住院补贴
                <br>
                <span class="content">30元/天</span>
              </p>
              <p>
                非营运类以及营运类交通工具的乘客（飞机）
                <br>
                <span class="content">200,000万</span>
              </p>
              <p>
                非营运类以及营运类交通工具的乘客（轨道交通）
                <br>
                <span class="content">100,000万</span>
              </p>
            </div>
            <a class="btn btn-orange btn-block" href="/serials/elderly-accident/solution-i/" target="_blank">￥120 <span class="hidden-xs hidden-sm">立即</span>购买</a>
            <p>
              五十岁以上（含）
            </p>
            <p>
              北京市域内发生的风险
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4">
          <div class="solution text-center">
            <!-- <p class="sequence-number">方案二</p> -->
            <div class="icon">
              <img class="img-responsive center-block" src="/images/elderly-accident/solutions/solution-ii.jpg">
            </div>
            <div class="descriptions m-t-md">
              <p>
                意外伤害
                <br>
                <span class="content">50,000元</span>
              </p>
              <p>
                意外伤害医疗费用补偿
                <br>
                <span class="content">5,000元</span>
              </p>
              <p>
                住院补贴
                <br>
                <span class="content">30元/天</span>
              </p>
              <p class="invisible hidden-xs">
                非营运类以及营运类交通工具的乘客（飞机）
                <br>
                <span class="content">000,000万</span>
              </p>
              <p class="invisible hidden-xs">
                非营运类以及营运类交通工具的乘客（轨道交通）
                <br>
                <span class="content">000,000万</span>
              </p>
            </div>
            <a class="btn btn-orange btn-block" href="/serials/elderly-accident/solution-ii/" target="_blank">￥15 <span class="hidden-xs hidden-sm">立即</span>购买</a>
            <p>
              五十岁以上（含）
            </p>
            <p>
              北京市域内约定的特定场所、特定活动、特定交通工具发生的风险
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 m-b-md">
          <div class="solution text-center">
            <!-- <p class="sequence-number">方案三</p> -->
            <div class="icon">
              <img class="img-responsive center-block" src="/images/elderly-accident/solutions/solution-iii.jpg">
            </div>
            <div class="descriptions m-t-md">
              <p>
                意外伤害
                <br>
                <span class="content">20,000元</span>
              </p>
              <p>
                意外伤害医疗费用补偿
                <br>
                <span class="content">1,000元</span>
              </p>
              <p>
                住院补贴
                <br>
                <span class="content">30元/天</span>
              </p>
              <p class="invisible hidden-xs">
                非营运类以及营运类交通工具的乘客（飞机）
                <br>
                <span class="content">000,000万</span>
              </p>
              <p class="invisible hidden-xs">
                非营运类以及营运类交通工具的乘客（轨道交通）
                <br>
                <span class="content">000,000万</span>
              </p>
            </div>
            <a class="btn btn-orange btn-block" href="/serials/elderly-accident/solution-iii/" target="_blank">￥30 <span class="hidden-xs hidden-sm">立即</span>购买</a>
            <p>
              五十岁以上（含）
            </p>
            <p>
              北京市域内发生的风险
            </p>
          </div>
        </div>
      </div>
      <div class="row m-t">
        <div class="col-xs-12">
          <div class="notes p-a">
            <small>
            <p>说明：</p>
              <ul>
                <li>以上保险计划保障期限均为一年。</li>
                <li>风险发生责任地区：
                  <ul>
                    <li>方案一、方案三：北京市域内</li>
                    <li>方案二：北京市域内约定的特定场所、特定活动、特定交通工具</li>
                  </ul>
                </li>
                <li>
                  意外伤害医疗费用补偿：
                  <ul>
                    <li>方案一、方案三：扣除 100 元免赔额后，剩余部分 80% 给付赔偿。</li>
                    <li>方案二：扣除 50 元免赔额后，剩余部分 100% 给付赔偿。</li>
                  </ul>
                </li>
                <li>
                  备注：
                  <ul>
                    <li>方案一：凡被保险人在北京市域内发生的意外事故，保险人均承担相应的保险责任。责任范围之外的其他情形，例如老年人因疾病导致的身故及医疗费用支出、老年人离京期间（乘坐飞机或火车期间除外）发生的意外伤害事故等，均不属于保险责任范围，保险人不承担保险金给付责任。</li>
                    <li>方案二：保险责任范围之外的其他情形，例如老年人在家期间（接受与政府签约的为老服务单位及志愿者服务期间除外）、商业场所期间、离京期间等发生的意外伤害事故，均不属于保险责任范围，保险人不承担保险金给付责任。</li>
                    <li>方案三：凡被保险人在北京市域内发生的意外事故，保险人均承担相应的保险责任。责任范围之外的其他情形，例如老年人因疾病导致的身故及医疗费用支出、老年人离京期间发生的意外伤害事故等，均不属于保险责任范围，保险人不承担保险金给付责任。</li>
                  </ul>
                </li>
              </ul>
            </div>
            </small>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section class="insurance-providers">
    <div class="row p-y-md">
      <div class="col-xs-offset-1 col-xs-10 text-center">
        <small class="text-muted">
          老人意外保障系列由以下公司承保
        </small>
      </div>
    </div>
    <div class="row p-b-md">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 m-b-md">
        <img class="img-responsive center-block" src="/images/elderly-accident/insurance-providers/china-life.png" width="250" height="68">
      </div>
    </div>
  </section>

  <%= partial '../../partials/footer.html' %>

</div><!-- /End Main Container -->

<a href="#" class="top mature-orange">返回顶部</a>

<% content_for :page_specific_js do %>
<script type="text/javascript">
  $(function(){
    $(".heroes .carousel").owlCarousel({
    
         autoPlay: 5000,
         navigation: false,
         slideSpeed: 300,
         paginationSpeed: 400,
         singleItem: true
    
     });
  });
</script>
<% end %>
