---
title: 学生平安保险计划一投保
---

<div class="main-container k-12-purchase">

  <%= partial '../../../partials/header.html' %>

  <section class="page-head bg-img p-y-md">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row c2 h-bg text-white">
        <div class="col-sm-6">
          <h1 class="h3 f-w-900 m-b-0">
            学生平安保险 计划一
          </h1>
        </div>
        <div class="col-sm-6 text-right">
          <ol class="breadcrumb m-b-0">
            <li>
              <a href="/serials/k-12/" class="inverse text-edit" target="_blank">⇤ 回学生平安保险计划首页</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="place-order p-y-md">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li role="presentation">
              <a href="#review-terms" aria-controls="review-terms" role="tab" data-toggle="tab">
                方案详情
              </a>
            </li>
            <li role="presentation" class="active">
              <a href="#order" aria-controls="order" role="tab" data-toggle="tab">
                在线投保
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="review-terms">
              <div class="row">
                <div class="col-md-12 p-a">
                  <article>
                    <h5>投保说明</h5>
                    <table class="table table-bordered">
                      <tr>
                        <td class="col-xs-4 col-sm-2 col-md-2">投保年龄</td>
                        <td class="col-xs-8 col-sm-10 col-md-10">出生28日以上-18周岁（含）</td>
                      </tr>
                      <tr>
                        <td>保险期间</td>
                        <td>1年</td>
                      </tr>
                    </table>
                    <h5>保障内容</h5>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="col-xs-4 col-sm-2 col-md-2">保险责任<br>给付金额</th>
                          <th class="col-xs-8 col-sm-10 col-md-10">保障说明</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>意外伤残<br>60,000元</td>
                          <td>被保险人遭受意外伤害，并自该意外伤害发生之日起一百八十日内因该意外伤害导致身体伤残的，本公司根据《人身保险伤残评定标准（行业标准）》（以下简称《标准》，见附表）的规定，按本合同约定的保险金额乘以该处伤残的伤残等级所对应的保险金给付比例给付伤残保险金。</td>
                        </tr>
                        <tr>
                          <td>意外医疗<br>10,000元</td>
                          <td rowspan="2">被保险人因该意外伤害在二级以上（含二级）医院门诊或住院诊疗的，对被保险人每次意外伤害事故所发生并实际支出的符合当地学生儿童基本医疗保险支付范围的住院医疗费用，本公司在扣除当地学生儿童基本医疗保险和其他途径已经补偿或给付部分以及本附加合同约定的住院医疗保险金的免赔额（50元）后，对其余额按本附加合同约定的住院医疗保险金的给付比例（80%赔付）给付住院医疗保险金。</td>
                        </tr>
                      </tbody>
                    </table>
                    <h5>温馨提示</h5>
                    <ol>
                      <li>本产品承保出生28日以上-18周岁（含）的身体健康的儿童和学生，由其父母或法定监护人作为投保人。</li>
                      <li>外籍人士（包括港澳台）购买本产品在保险期间内必须满足在中国大陆有日常居住地或工作地。</li>
                      <li>医疗费用仅限于中国大陆范围内合法经营的二级以上（含二级）公立医院发生的合理医疗费用，在北京市平谷区所有医院的就医均不给予理赔。</li>
                      <li>本产品不承保被保险人对本附加合同生效前已遭受的意外伤害、已患未治愈疾病或已有残疾的治疗。</li>
                      <li>“根据中国保险监督管理委员会《关于父母为其未成年子女投保以死亡为给付保险金条件人身保险有关问题的通知（保监发[2015]90号）》文件的规定。如果被保险人不满10周岁，在本公司、其他保险公司为其投保的人身保险，有效身故保险金额总和不得超过人民币20万元；如果被保险人已满10周岁但未满18周岁的，在本公司、其他保险公司为其投保的人身保险，有效身故保险金额总和不得超过人民币50万元。”</li>
                      <li>经华夏经纪购买的顾客，若发生保险事故，万能保（热线：    ）将提供协助理赔服务。</li>
                    </ol>
                    <h5>保险条款</h5>
                    <ul>
                      <li></li>
                      <li></li>
                    </ul>
                  </article>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="order">
              <div class="row">
                <div class="col-md-12 p-a">
                  <form class="form-horizontal" id="orderForm">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">与被被保人关系</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value="子女" disabled>
                        <!-- 与被保人关系-->
                        <input type="hidden" name="apprlt" value="C">
                        <!-- 产品编码-->
                        <input type="hidden" name="product_id" value="P120000000627">
                        <!-- 用户ID-->
                        <input type="hidden" name="user_id" value="8C60FD675225417CA313DEF558013EEF">
                        <p class="help-block">本产品仅限父母为子女投保。</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">购买份数</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value="1份" disabled>
                        <p class="help-block">每位被保人仅限购买一份。</p>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="col-sm-2 control-label">保单生效日</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="start_time" name="start_time">
                        <!-- 未输入 -->
                        <div class="help-block alert alert-danger" role="alert" id="start_time_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您没有选择保单生效日，请选择。
                        </div>
                        <p class="help-block">
                          您可以指定30天内的日期作为保单生效日。如果您的实际付款时间晚于指定的保单生效日，系统则自动将保单生效日修改为付款日的第二天。最终生效日期以保险公司出具的电子保单为准。
                        </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">价格</label>
                      <div class="col-sm-10">
                        <p class="price">￥90元<p>
                      </div>
                    </div>

                    <hr class='m-y-lg'>
                    <h4>被保人信息（孩子）</h4>
                    <div class="form-group">
                      <label for="is_name" class="col-sm-2 control-label">被保人姓名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is_name" name="is_name" placeholder="请填写被保人真实姓名">
                        <!-- 未输入 -->
                        <div class="help-block alert alert-danger" role="alert" id="is_name_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您没有输入被保人姓名，请输入。
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="is_credentials_no" class="col-sm-2 control-label">身份证号码</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is_credentials_no" name="is_credentials_no" placeholder="被保人身份证号码">
                        <!-- 身份证格式有误 -->
                        <div class="help-block alert alert-danger" id="is_credentials_no_alert" role="alert" style="display:none">
                          
                        </div>
                        <p class="help-block">
                          被保人仅限28天~18周岁。<br>
                          身份证号是投保人及被投保人的唯一标识，保证被保险人本人确实获得保险权益。<br>
                          您可以在户口本中查询身份证号码。
                        </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="is_birthday" class="col-sm-2 control-label">出生日期</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="is_birthday" disabled>
                        <input type="hidden" name="is_birthday" id="is_birthday_hid" value="">
                        <p class="help-block">
                          系统将根据身份证号码为您填写，无需手工输入。
                        </p>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-2 control-label">性别</label>
                      <div class="col-sm-10">
                        <input type="hidden" name="is_sex" id="is_sex_hid" value="">
                        <label class="radio-inline">
                          <input type="radio" name="is_sex" value="1" disabled> 男
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="is_sex" value="0" disabled> 女
                        </label>
                        <p class="help-block">
                          系统将根据身份证号码为您填写，无需手工勾选。
                        </p>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="insuredHealthStatement" class="col-sm-2 control-label">健康告知</label>
                      <div class="col-sm-10">
                        <div class="scroll-window p-a m-b">
                          <%= partial '../simplified-health-statement.html' %>
                        </div>
                        <input type="checkbox" id="insuredHealthStatement" checked> 我的孩子不存在上述任何一种情况
                        <!-- 未勾选 -->
                        <div class="help-block alert alert-danger" role="alert" id="insuredHealthStatement_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您没有确认孩子的健康状况，请确认。如您的孩子存在上述任意情况，则无法投保本计划。
                        </div>
                      </div>
                    </div>
                    <hr class='m-y-lg'>
                    <h4>投保人信息（父母）</h4>
                    <div class="form-group">
                      <label for="name" class="col-sm-2 control-label">投保人姓名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="请填写投保人真实姓名">
                        <!-- 未输入 -->
                        <div class="help-block alert alert-danger" role="alert" id="name_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您没有输入投保人姓名，请输入。
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="credentials_no" class="col-sm-2 control-label">身份证号码</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="credentials_no" name="credentials_no" placeholder="投保人身份证号码">
                        <!-- 身份证格式有误 -->
                        <div class="help-block alert alert-danger" role="alert" id="credentials_no_alert" style="display:none">
                          
                        </div>
                        
                        <p class="help-block">
                          仅限成人作为投保人。<br>
                          身份证号是投保人及被投保人的唯一标识，保证被保险人本人确实获得保险权益。<br>
                        </p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="birthday" class="col-sm-2 control-label">出生日期</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="birthday" disabled>
                        <input type="hidden" name="birthday" id="birthday_hid" value="">
                        <p class="help-block">
                          系统将根据身份证号码为您填写，无需手工填写。
                        </p>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-2 control-label">性别</label>
                      <div class="col-sm-10">
                        <input type="hidden" name="sex" id="sex_hid" value="">
                        <label class="radio-inline">
                          <input type="radio" name="sex" value="1" disabled> 男
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="sex" value="0" disabled> 女
                        </label>
                        <p class="help-block">
                          系统将根据身份证号码为您填写，无需手工勾选。
                        </p>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="mobile_phone_no" class="col-sm-2 control-label">手机号码</label>
                      <div class="col-sm-10">
                        <input type="tel" class="form-control" id="mobile_phone_no" name="mobile_phone_no" placeholder="被保人手机号码">
                        <!-- 手机号码格式有误 -->
                        <div class="help-block alert alert-danger" role="alert" id="mobile_phone_no_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您输入的手机号有误，请核对并更正。
                        </div>
                        <p class="help-block">请仔细核对，用于接收保单信息。</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-sm-2 control-label">电子邮箱</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="被保人电子邮箱">
                        <!-- 邮箱码格式有误 -->
                        <div class="help-block alert alert-danger" role="alert" id="email_alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您输入的邮箱有误，请核对并更正。
                        </div>
                        <p class="help-block">请仔细核对，用于接收保单信息。</p>
                      </div>
                    </div>
                    <hr class='m-y-lg'>
                    <div class="form-group">
                      <label for="termsConfirmation" class="col-sm-2 control-label">投保申请确认</label>
                      <div class="col-sm-10">
                        <div class="scroll-window p-a m-b">
                          <%= partial '../terms-confirmation.html' %>
                        </div>
                        <input type="checkbox" id="termsConfirmation" checked> 我已阅读并确认同意以上声明
                        <!-- 未勾选 -->
                        <div class="help-block alert alert-danger" role="alert" style="display:none">
                          <i class="glyphicon glyphicon-exclamation-sign"></i>
                          您还没有确认同意投保条款，请确认后勾选继续。
                        </div>
                      </div>
                    </div>
                    <hr class='m-y-lg'>                    
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="saveOrder" class="btn btn-green" data-loading-text="Loading..." autocomplete="off">确认投保</button>
                        <!-- 表单验证未通过 -->
                        <div class="help-block alert alert-danger" role="alert" id="order_error_alert" style="display:none">
                          您填写的内容有误，请根据系统提示的信息修改填写内容。
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= partial '../../../partials/footer.html' %>

</div>

<a href="#" class="top mature-green">返回顶部</a>

<% content_for :page_specific_js do %>
<script type="text/javascript" src="/javascripts/cardNo.js"></script>
<script type="text/javascript">
var cardNumber = -1;
var iscardNumber = -1;
$(function() {
    //检查被保人身份证号
    $("#is_credentials_no").change(function() {
        var cardNo = $("#is_credentials_no").val();
        if (checkEnergyCard(cardNo)) {
            var birthday = getBirthday(cardNo)
            if (verifyBirthday(birthday, 1)) {
                $("#is_credentials_no_alert").hide();
                $("#is_birthday").val(birthday);
                $("#is_birthday_hid").val(birthday);
                if (getSex(cardNo) == '男') {
                    $("input[type=radio][name=is_sex][value=1]").attr("checked", true);
                    $("#is_sex_hid").val('1');
                } else {
                    $("input[type=radio][name=is_sex][value=0]").attr("checked", true);
                    $("#is_sex_hid").val('0');
                }
                iscardNumber = 0;
            } else {
                var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>本计划仅限为28天~18周岁的孩子投保，您输入的身份证号码不在正确的年龄范围，请核对并更正。';
                $("#is_credentials_no_alert").html(alert_text);
                $("#is_credentials_no_alert").show();
                iscardNumber = 1;
            }

        } else {
            var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>您输入的身份证号码有误，请核对并更正。';
            $("#is_credentials_no_alert").html(alert_text);
            $("#is_credentials_no_alert").show();
            iscardNumber = 2;
        }
    });


    //检查投保人身份证号
    $("#credentials_no").change(function() {
        var cardNo = $("#credentials_no").val();
        if (checkEnergyCard(cardNo)) {
            var birthday = getBirthday(cardNo)
            if (verifyBirthday(birthday, 2)) {
                $("#credentials_no_alert").hide();
                $("#birthday").val(birthday);
                $("#birthday_hid").val(birthday);
                if (getSex(cardNo) == '男') {
                    $("input[type=radio][name=sex][value=1]").attr("checked", true);
                    $("#sex_hid").val('1');
                } else {
                    $("input[type=radio][name=sex][value=0]").attr("checked", true);
                    $("#sex_hid").val('0');
                }
                cardNumber = 0;
            } else {
                var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>投保人必须为成年人，您输入的身份证号码为未成年人，请核对并更正。';
                $("#credentials_no_alert").html(alert_text);
                $("#credentials_no_alert").show();
                cardNumber = 1;
            }

        } else {
            var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>您输入的身份证号码有误，请核对并更正。';
            $("#credentials_no_alert").html(alert_text);
            $("#credentials_no_alert").show();
            cardNumber = 2;
        }
    });


    // 是否同意协议处理
    $('#termsConfirmation,#insuredHealthStatement').on('click', function() {
        if ($('#termsConfirmation').is(':checked') && $('#insuredHealthStatement').is(':checked')) {
            $('#saveOrder').removeAttr("disabled");
            $('#saveOrder').attr("class", "btn btn-green");
        } else {
            $('#saveOrder').attr("disabled", "true");
            $('#saveOrder').attr("class", "btn btn-gray");
        }
    });


    // 确认下单
    $('#saveOrder').on('click', function() {
        $('#start_time_alert').hide();
        $('#is_name_alert').hide();
        $("#is_credentials_no_alert").hide();
        $('#name_alert').hide();
        $("#credentials_no_alert").hide();
        $('#mobile_phone_no_alert').hide();
        $('#email_alert').hide();
        if (!checkinput()) {
            return false;
        }
        var btn = $('#saveOrder');
        var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>';
        $.ajax({
            url: API_URL + '/order/place',
            type: 'post',
            dataType: "JSON",
            data: $('#orderForm').serialize(),
            async: true,
            beforeSend: function() {
                btn.button('loading');
            },
            complete: function() {
                btn.button('reset');
            },
            success: function(obj) {
                if (obj.status.code == 0) {
                    var orderId = obj.data.id;
                    location.href = "/serials/k-12/order.html?orderId="+orderId;
                } else {
                    alert_text = alert_text + '您输入的信息有误，请检查错误项，更正后再提交。';
                    $('#order_error_alert').html(alert_text);
                    $('#order_error_alert').show();
                }
            },
            error: function(data) {
                alert_text = alert_text + '系统错误，请刷新后重试！';
                $('#order_error_alert').html(alert_text);
                $('#order_error_alert').show();
            }
        });
    });
});

//校验生日
function verifyBirthday(birthday, type) {
    var now = new Date();
    var now_year = now.getFullYear();
    var birthday_date = new Date(birthday);
    var year = birthday_date.getFullYear();
    //被保人
    if (type == 1) {
        //判断年份的范围（28天到18岁之间)
        var time = now_year - year;
        var days = (now - birthday_date) / (1000 * 60 * 60 * 24); // 计算生日距今多少天
        if (days >= 28 && time <= 48) {
            return true;
        }
    } else if (type == 2) {
        //投保人
        //判断年份的范围（18岁-100岁)
        var time = now_year - year;
        if (time >= 18 && time <= 100) {
            return true;
        }
    } else if (type == 3) {
        //投保人
        //判断年份的范围（2岁-18岁)
        var time = now_year - year;
        if (time >= 2 && time <= 18) {
            return true;
        }
    }
    return false;
}

//检查输入项
function checkinput() {
    var focus_status = 0;
    var start_time = $('#start_time').val();
    if(start_time==""){
        $('#start_time_alert').show();
        if(focus_status==0){
            $('#start_time').focus();
            focus_status = 1;
        }
    }

    var is_name = $('#is_name').val();
    if (is_name == '') {
        $('#is_name_alert').show();
        if(focus_status==0){
            $('#is_name').focus();
            focus_status = 1;
        }
    }

    //被保人身份证号
    if (iscardNumber == -1 || iscardNumber == 1 || iscardNumber == 2) {
        var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>';
        if (iscardNumber == -1) {
            alert_text = alert_text + '请输入投保人身份证号码。';
        } else if (iscardNumber == 1) {
            alert_text = alert_text + '本计划仅限为28天~18周岁的孩子投保，您输入的身份证号码不在正确的年龄范围，请核对并更正。';
        } else if (iscardNumber == 2) {
            alert_text = alert_text + '您输入的身份证号码有误，请核对并更正。';
        }
        $("#is_credentials_no_alert").html(alert_text);
        $("#is_credentials_no_alert").show();
        if(focus_status==0){
            $('#is_credentials_no').focus();
            focus_status = 1;
        }
    }

    var name = $('#name').val();
    if (name == '') {
        $('#name_alert').show();
        if(focus_status==0){
            $('#name').focus();
            focus_status = 1;
        }
    }

    //被保人身份证号
    if (cardNumber == -1 || cardNumber == 1 || cardNumber == 2) {
        var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>';
        if (cardNumber == -1) {
            alert_text = alert_text + '请输入投保人身份证号码。';
        } else if (cardNumber == 1) {
            alert_text = alert_text + '本计划仅限为28天~18周岁的孩子投保，您输入的身份证号码不在正确的年龄范围，请核对并更正。';
        } else if (cardNumber == 2) {
            alert_text = alert_text + '您输入的身份证号码有误，请核对并更正。';
        }
        $("#credentials_no_alert").html(alert_text);
        $("#credentials_no_alert").show();
        if(focus_status==0){
            $('#credentials_no').focus();
            focus_status = 1;
        }
    }


    var mobile_phone_no = $('#mobile_phone_no').val();
    if (!checkMobil(mobile_phone_no)) {
        $('#mobile_phone_no_alert').show();
        if(focus_status==0){
            $('#mobile_phone_no').focus();
            focus_status = 1;
        }
    }

    var email = $('#email').val();
    if (!checkEmail(email)) {
        $('#email_alert').show();
        if(focus_status==0){
            $('#email').focus();
            focus_status = 1;
        }
    }

    if(focus_status==1){
        return false;
    }
    return true;
}

$.extend($.fn.pickadate.defaults, {
  monthsFull: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
  weekdaysShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
  today: '今天',
  clear: '清除',
  close: '关闭',
  format: 'yyyy-mm-dd'
})

if( $("#start_time").length ) {
    var currentDate = new Date();
    var tomorrow = new Date(currentDate.getFullYear(), currentDate.getMonth(),  currentDate.getDate() + 1);
    var thirtyOneDayAfter = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() + 31);
    $('#start_time').pickadate({
        min: tomorrow,
        max: thirtyOneDayAfter,
        onStart: function() {
          this.set('select', [tomorrow.getFullYear(), tomorrow.getMonth(), tomorrow.getDate()]);
        }
    });
}
</script>
<% end %>
