---
title: 学生平安保险计划四投保
---

<div class="main-container k-12-purchase">

  <%= partial '../../../partials/header.html' %>

  <section class="page-head bg-img p-y-md">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row c2 h-bg text-white">
        <div class="col-sm-6">
          <h1 class="h3 f-w-900 m-b-0">
            学生平安保险 计划四
          </h1>
        </div>
        <div class="col-sm-6 text-right">
          <ol class="breadcrumb m-b-0">
            <li>
              <a href="/serials/k-12/" class="inverse text-edit" target="_blank">⇤ 回学生平安保险计划首页</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="health-statement p-y-md">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= partial '../health-statement.html' %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>请确认您的孩子是否存在上述健康问题</p><br>
          <button class="validation-failed btn btn-grey" >曾经或现在有以上问题</button>
          <a class="btn btn-green" href="./purchase.html">健康 不存在以上任一情况</a>
        </div>
      </div>

      <div class="row validation-failed-notice p-t">
        <div class="col-md-12">
          <div class="alert alert-danger" role="alert">
            <i class="icon-sad"></i>
            很抱歉,由于被保险人健康告知书原因，您不能投保该产品。
          </div>
        </div>
      </div>
    </div>
  </section>


  <%= partial '../../../partials/footer.html' %>

</div>

<a href="#" class="top mature-green">返回顶部</a>

<% content_for :page_specific_js do %>
<script type="text/javascript">
  $(function(){
    $('.validation-failed').click(function() {
      $('.validation-failed-notice').slideDown();
      return false;
    });
  });
</script>
<% end %>
