---
title: 学生平安保险计划四投保
---

<div class="main-container k-12-purchase">

  <%= partial '../../../partials/header.html' %>

  <section class="page-head bg-img p-y-md">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row c2 h-bg text-white">
        <div class="col-sm-6">
          <h1 class="h3 f-w-900 m-b-0">
            学生平安保险 计划四
          </h1>
        </div>
        <div class="col-sm-6 text-right">
          <ol class="breadcrumb m-b-0">
            <li>
              <a href="/serials/k-12/" class="inverse text-edit" target="_blank">⇤ 回学生平安保险计划首页</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="place-order p-y-md">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li role="presentation">
              <a href="#review-terms" aria-controls="review-terms" role="tab" data-toggle="tab">
                方案详情
              </a>
            </li>
            <li role="presentation" class="active">
              <a href="#order" aria-controls="order" role="tab" data-toggle="tab">
                在线投保
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="review-terms">
              <div class="row">
                <div class="col-md-12 p-a">
                  <article>
                    <h5>投保说明</h5>
                    <table class="table table-bordered">
                      <tr>
                        <td class="col-xs-4 col-sm-2 col-md-2">投保年龄</td>
                        <td class="col-xs-8 col-sm-10 col-md-10">出生满2周岁-18周岁（含）</td>
                      </tr>
                      <tr>
                        <td>保险期间</td>
                        <td>1年</td>
                      </tr>
                      <tr>
                        <td>等待期</td>
                        <td>疾病住院医疗等待期为30天</td>
                      </tr>
                    </table>
                    <h5>保障内容</h5>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="col-xs-4 col-sm-2 col-md-2">保险责任<br>给付金额</th>
                          <th class="col-xs-8 col-sm-10 col-md-10">保障说明</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>意外伤残<br>60,000元</td>
                          <td>被保险人遭受意外伤害，并自该意外伤害发生之日起一百八十日内因该意外伤害导致身体伤残的，本公司根据《人身保险伤残评定标准（行业标准）》（以下简称《标准》，见附表）的规定，按本合同约定的保险金额乘以该处伤残的伤残等级所对应的保险金给付比例给付伤残保险金。</td>
                        </tr>
                        <tr>
                          <td>意外医疗<br>2,000元</td>
                          <td>被保险人因该意外伤害在二级以上（含二级）医院门诊或住院诊疗的，对被保险人每次意外伤害事故所发生并实际支出的符合当地学生儿童基本医疗保险支付范围的住院医疗费用，本公司在扣除当地学生儿童基本医疗保险和其他途径已经补偿或给付部分以及本附加合同约定的住院医疗保险金的免赔额（50元）后，对其余额按本附加合同约定的住院医疗保险金的给付比例（80%赔付）给付住院医疗保险金。</td>
                        </tr>
                        <tr>
                          <td>住院医疗<br>10,000元</td>
                          <td>中国人寿少儿医疗保障说明：在保险期间内，若被保险人因遭受意外伤害或在30天等待期后因患疾病，在二级以上（含二级）公立医院进行住院或特定门诊诊疗，在扣除免赔额及被保险人通过其他渠道获得的补偿后，按约定给付比例分段计算累计给付住院医疗保险金。（住院医疗保险金给付的免赔额为100元，给付比例为60％，特定门诊医疗保险金的免赔额为400元，给付比例为70％。）</td>
                        </tr>
                        <tr>
                          <td>住院定额<br>20元/天</td>
                          <td>在本附加合同保险期间内， 被保险人遭受意外伤害或在等待期 （30天）后因疾病，在二级以上（含二级）医院住院诊疗，本公司按住院日定额给付金额乘以实际住院日数给付保险金，但每次住院的给付日数以九十日为限， 且每个保单年度累计给付的住院日数以一百八十日为限。</td>
                        </tr>
                      </tbody>
                    </table>
                    <h5>温馨提示</h5>
                    <ol>
                      <li>本产品承保出生满2周岁（含）-18周岁（含）的身体健康的儿童和学生，由其父母或法定监护人作为投保人。</li>
                      <li>外籍人士（包括港澳台）购买本产品在保险期间内必须满足在中国大陆有日常居住地或工作地。</li>
                      <li>医疗费用仅限于中国大陆范围内合法经营的二级以上（含二级）公立医院发生的合理医疗费用，在北京市平谷区所有医院的就医均不给予理赔。</li>
                      <li>本产品不承保被保险人对本附加合同生效前已遭受的意外伤害、已患未治愈疾病或已有残疾的治疗。</li>
                      <li>“根据中国保险监督管理委员会《关于父母为其未成年子女投保以死亡为给付保险金条件人身保险有关问题的通知（保监发[2015]90号）》文件的规定。如果被保险人不满10周岁，在本公司、其他保险公司为其投保的人身保险，有效身故保险金额总和不得超过人民币20万元；如果被保险人已满10周岁但未满18周岁的，在本公司、其他保险公司为其投保的人身保险，有效身故保险金额总和不得超过人民币50万元。”</li>
                      <li>经华夏经纪购买的顾客，若发生保险事故，万能保（热线：    ）将提供协助理赔服务。</li>
                    </ol>
                    <h5>保险条款</h5>
                    <ul>
                      <li></li>
                      <li></li>
                    </ul>
                  </article>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="order">
              <div class="row">
                <div class="col-md-12 p-a">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">投保人与被被保人关系</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value="子女" disabled>
                        <p class="help-block">本产品仅限父母为子女投保。</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">购买份数</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" value="1份" disabled>
                        <p class="help-block">每位被保人仅限购买一份。</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">价格</label>
                      <div class="col-sm-10">
                        <p class="price">￥120元<p>
                      </div>
                    </div>

                    <hr class='m-y-lg'>
                    <h4>被保人信息（孩子）</h4>
                    <div class="form-group">
                      <label for="insuredName" class="col-sm-2 control-label">被保人姓名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="insuredName" placeholder="请填写被保人真实姓名">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="insuredIdNumber" class="col-sm-2 control-label">身份证号码</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="insuredIdNumber" placeholder="被保人身份证号码">
                        <p class="help-block">
                          被保人仅限2周岁~18周岁。<br>
                          身份证号是投保人及被投保人的唯一标识，保证被保险人本人确实获得保险权益。<br>
                          您可以在户口本中查询身份证号码。
                        </p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="insuredHealthStatement" class="col-sm-2 control-label">健康告知</label>
                      <div class="col-sm-10">
                        <div class="scroll-window p-a m-b">
                          <%= partial '../health-statement.html' %>
                        </div>
                        <input type="checkbox" id="insuredHealthStatement"> 我的孩子不存在上述任何一种情况
                      </div>
                    </div>
                    <hr class='m-y-lg'>
                    <h4>投保人信息（父母）</h4>
                    <div class="form-group">
                      <label for="applicantName" class="col-sm-2 control-label">投保人姓名</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="insuredName" placeholder="请填写投保人真实姓名">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="applicantIdNumber" class="col-sm-2 control-label">身份证号码</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="insuredIdNumber" placeholder="投保人身份证号码">
                        <p class="help-block">
                          仅限成人作为投保人。<br>
                          身份证号是投保人及被投保人的唯一标识，保证被保险人本人确实获得保险权益。<br>
                          您可以在户口本中查询身份证号码。
                        </p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="applicantMobile" class="col-sm-2 control-label">手机号码</label>
                      <div class="col-sm-10">
                        <input type="tel" class="form-control" id="applicantMobile" placeholder="被保人手机号码">
                        <p class="help-block">请仔细核对，用于接收保单信息。</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="applicantEmail" class="col-sm-2 control-label">电子邮箱</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="applicantEmail" placeholder="被保人电子邮箱">
                        <p class="help-block">请仔细核对，用于接收保单信息。</p>
                      </div>
                    </div>
                    <hr class='m-y-lg'>
                    <div class="form-group">
                      <label for="termsConfirmation" class="col-sm-2 control-label">投保申请确认</label>
                      <div class="col-sm-10">
                        <div class="scroll-window p-a m-b">
                          <%= partial '../terms-confirmation.html' %>
                        </div>
                        <input type="checkbox" id="termsConfirmation"> 我已阅读并确认同意以上声明
                      </div>
                    </div>
                    <hr class='m-y-lg'>                    
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-grey">确认投保</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= partial '../../../partials/footer.html' %>

</div>

<a href="#" class="top mature-green">返回顶部</a>

<% content_for :page_specific_js do %>
<script type="text/javascript">
  $(function(){

  });
</script>
<% end %>
