@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato/lato-black-webfont.eot');
  src: url('../../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/lato/lato-black-webfont.woff') format('woff'), url('../../fonts/lato/lato-black-webfont.ttf') format('truetype'), url('../../fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato/lato-bold-webfont.eot');
  src: url('../../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/lato/lato-bold-webfont.woff') format('woff'), url('../../fonts/lato/lato-bold-webfont.ttf') format('truetype'), url('../../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato/lato-bolditalic-webfont.eot');
  src: url('../../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/lato/lato-bolditalic-webfont.woff') format('woff'), url('../../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'), url('../../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato/lato-italic-webfont.eot');
  src: url('../../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/lato/lato-italic-webfont.woff') format('woff'), url('../../fonts/lato/lato-italic-webfont.ttf') format('truetype'), url('../../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato/lato-light-webfont.eot');
  src: url('../../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/lato/lato-light-webfont.woff') format('woff'), url('../../fonts/lato/lato-light-webfont.ttf') format('truetype'), url('../../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato/lato-regular-webfont.eot');
  src: url('../../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/lato/lato-regular-webfont.woff') format('woff'), url('../../fonts/lato/lato-regular-webfont.ttf') format('truetype'), url('../../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}