<article>
  <!-- <h3>健康告知</h3> -->
  <p>为了您的权益得到充分保障，请您配合完成以下健康告知。</p>
  <h5 class="p-t">1、生活习惯：</h5>
  <p>是否参加潜水、拳击、攀岩、飞行、赛车等危险运动或嗜好？</p>
  <h5 class="p-t">2、身体残障：</h5>
  <p>曾否患听力、视力、语言、咀嚼障碍，智力障碍？</p>
  <p>曾否患有脊柱、胸廓畸形，四肢、手、足、指残缺？</p>
  <h5 class="p-t">3、症状体征：</h5>
  <p>是否曾患有、或被告知有下列症状；或因下列症状接受治疗：慢性咳嗽、咯血、胸闷、心慌、气短、浮肿、声嘶哑、吞咽困难、呕血、黑便、腹痛、黄疸、贫血、肿块、血尿、蛋白尿、皮肤淤斑、不明原因皮下出血点、渐进性消瘦、持续性头痛、晕厥、抽搐、昏迷、长期发热、高度近视。</p>
  <h5 class="p-t">4、病史询问：</h5>
  <p>是否曾患有或接受治疗过下列疾病？</p>
  <ul>
    <li>高血压、先天性心脏病、风湿性心脏病、心内膜炎、冠心病、心肌梗塞、心律失常、心肌炎、脑血管意外；</li>
    <li>帕金森氏综合征、癫痫、脑部疾病、脊髓疾病、精神病；</li>
    <li>哮喘、肺结核、肺气肿、支气管扩张、尘肺、矽肺、肺原性心脏病；</li>
    <li>消化性溃疡、萎缩性胃炎、胰腺炎、肝硬化、乙肝或丙肝病毒携带者、胆道感染或结石；</li>
    <li>尿路结石或畸形、肾炎、肾病、肾功能不全、多囊肾、肾盂积水、前列腺疾病；</li>
    <li>肿瘤（包括恶性肿瘤及尚未确诊为良性或恶性之息肉、肿瘤、囊肿、结节、赘生物）；</li>
    <li>糖尿病、痛风、垂体机能亢进或减退、甲状腺机能亢进或减退、肾上腺机能亢进或减退；</li>
    <li>系统性红斑狼疮、风湿或类风湿病、胶原性疾病及结缔组织疾病、椎间盘突出、疝、痔；</li>
    <li>贫血、血小板减少性紫癜、过敏性紫癜、血友病、白血病、被建议不宜献血；</li>
    <li>白内障、视网膜疾病、角膜疾病、青光眼、中耳炎及其它眼、耳、鼻、喉或口腔疾病；</li>
    <li>先天性疾病、遗传性疾病、地方病、职业病、药物过敏史；</li>
    <li>是否还有以上未列明的疾病？</li>
  </ul>
  <h5 class="p-t">5、诊疗、检查经历：</h5>
  <p>过去3个月内是否接受过医生的诊断、检查和治疗？</p>
  <p>过去3年内是否因疾病或受伤住院或手术？</p>
</article>