<ol>
  <li>是否曾经患过或正患有下列任一疾病：恶性肿瘤、心肌梗塞、恶性淋巴瘤、白血病、脑出血、脑梗塞、肾功能衰竭、高血压、糖尿病、肝炎、肾炎、冠心病。</li>
  <li>是否接受过下列任何一项手术或治疗：器官移植、骨透析、冠状动脉搭桥手术、冠状动脉支架植入术。</li>
  <li>是否曾患下列任一向身体残障：听力障碍、视力障碍、语言障碍、咀嚼障碍、智力障碍、脊柱残缺、胸廓畸形、四肢残缺、手、足、指残缺。</li>
</ol>
