---
title: 学生平安保险
---

<div class="main-container k-12">

  <%= partial '../../partials/header.html' %>

  <section class="hero p-t-md">
    <div class="container">
      <div class="row p-md">
        <div class="intro col-xs-12 col-sm-6 col-md-6 p-t-lg m-b-md">
          <h1>学生平安保险</h1>
          <p class="leading">意外事故频发的今天，每一个家庭都希望孩子可以平安健康，快乐成长。学生平安险为广大中小学生提供意外伤害保障。</p>
          <a href="#solutions" class="btn btn-shadow btn-green smooth-scroll m-t-md">立即选购</a>
        </div>
        <div class="illustration col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-1 col-md-5 y-middle p-y-md">
          <img class="img-responsive center-block" src="/images/k-12/happy-kids.png">
        </div>
      </div>
    </div>
  </section>

  <section class="solutions p-b-md" id='solutions'>
    <div class="container">
      <div class="row">
        <div class="col-*-12 p-t-md p-b text-center">
          <h3 class="wow fadeIn">选购计划</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3">
          <div class="solution text-center">
            <p class="sequence-number">方案一</p>
            <img class="img-responsive center-block" src="/images/k-12/solutions/solution-i.png">
            <div class="descriptions m-t-md">
              <p class="invisible hidden-xs">
                身故
                <br>
                <span class="content">00,000元</span>
              </p>
              <p>
                意外伤残
                <br>
                <span class="content">60,000元</span>
              </p>
              <p>
                意外医疗
                <br>
                <span class="content">10,000元</span>
              </p>
              <p class="invisible">
                住院医疗
                <br>
                <span class="content">00,000元</span>
              </p>
              <p class="invisible hidden-xs">
                住院补贴
                <br>
                <span class="content">00元/天</span>
              </p>
            </div>
            <a class="btn btn-green btn-block" target="_blank" href="/serials/k-12/solution-i/">￥90 <span class="hidden-xs hidden-sm">立即</span>购买</a>
            <p>
              投保年龄
              <br>
              28天~18周岁
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 m-b-md">
          <div class="solution text-center">
            <p class="sequence-number">方案二</p>
            <img class="img-responsive center-block" src="/images/k-12/solutions/solution-ii.png">
            <div class="descriptions m-t-md">
              <p class="invisible hidden-xs">
                身故
                <br>
                <span class="content">00,000元</span>
              </p>
              <p>
                意外伤残
                <br>
                <span class="content">50,000元</span>
              </p>
              <p>
                意外医疗
                <br>
                <span class="content">3,000元</span>
              </p>
              <p>
                住院医疗
                <br>
                <span class="content">10,000元</span>
              </p>
              <p class="invisible hidden-xs">
                住院补贴
                <br>
                <span class="content">00元/天</span>
              </p>
            </div>
            <a class="btn btn-green btn-block" target="_blank" href="/serials/k-12/solution-ii/">￥90 <span class="hidden-xs hidden-sm">立即</span>购买</a>
            <p>
              投保年龄
              <br>
              2周岁~18周岁
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 m-b-md">
          <div class="solution text-center">
            <p class="sequence-number">方案三</p>
            <img class="img-responsive center-block" src="/images/k-12/solutions/solution-iii.png">
            <div class="descriptions m-t-md">
              <p>
                身故
                <br>
                <span class="content">50,000元</span>
              </p>
              <p>
                意外伤残
                <br>
                <span class="content">20,000元</span>
              </p>
              <p>
                意外医疗
                <br>
                <span class="content">5,000元</span>
              </p>
              <p>
                住院医疗
                <br>
                <span class="content">5,000元</span>
              </p>
              <p class="invisible">
                住院补贴
                <br>
                <span class="content">00元/天</span>
              </p>
            </div>
            <a class="btn btn-green btn-block" target="_blank" href="/serials/k-12/solution-iii/">￥120 <span class="hidden-xs hidden-sm">立即</span>购买</a>
            <p>
              投保年龄
              <br>
              2周岁~18周岁
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 m-b-md">
          <div class="solution text-center">
            <p class="sequence-number">方案四</p>
            <img class="img-responsive center-block" src="/images/k-12/solutions/solution-iv.png">
            <div class="descriptions m-t-md">
              <p class="invisible">
                身故
                <br>
                <span class="content">00,000元</span>
              </p>
              <p>
                意外伤残
                <br>
                <span class="content">60,000元</span>
              </p>
              <p>
                意外医疗
                <br>
                <span class="content">2,000元</span>
              </p>
              <p>
                住院医疗
                <br>
                <span class="content">10,000元</span>
              </p>
              <p>
                住院补贴
                <br>
                <span class="content">20元/天</span>
              </p>
            </div>
            <a class="btn btn-green btn-block" target="_blank" href="/serials/k-12/solution-iv/">￥120 <span class="hidden-xs hidden-sm">立即</span>购买</a>
            <p>
              投保年龄
              <br>
              2周岁~18周岁
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="notes p-a">
            <small>
            <p>说明：</p>
              <ul>
                <li>以上保险计划保障期限均为一年。</li>
                <li>
                  意外医疗：
                  <ul>
                    <li>扣除 50 元免赔额后，剩余部分 80% 给付赔偿。</li>
                  </ul>
                </li>
                <li>住院医疗：
                  <ul>
                    <li>扣除 100 元免赔额后，剩余部分 60% 给付赔偿；</li>
                    <li>特定门诊扣除 400 元免赔额后，剩余部分 70% 给付赔偿。</li>
                  </ul>
                </li>
              </ul>
            </div>
            </small>
        </div>
      </div>
    </div>
  </section>

  <section class="safety-precautions p-y-md" id="grid">
    <div class="container">
      <div class="row">
        <div class="col-*-12 p-b text-center text-white">
          <h3 class="wow fadeIn">防微杜渐 安全意识不松懈</h3>
        </div>
      </div>
      <div class="row">
        <div class="point col-xs-6 col-sm-4 col-md-3 m-b-md" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img class="img-responsive" src="/images/k-12/safety-precautions/1.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>防范校园事故</h2>
                  <p>要做到不推挤、不恶作剧、不围观，防止校园伤害。</p>
                  <a href="#">了解相关知识</a>
                </figcaption>
              </figure>
        </div>
        <div class="point col-xs-6 col-sm-4 col-md-3 m-b-md" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img class="img-responsive" src="/images/k-12/safety-precautions/2.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>严防火灾</h2>
                  <p>培养好的生活习惯，注意小细节，避免火灾的发生。</p>
                  <a href="#">了解相关知识</a>
                </figcaption>
              </figure>
        </div>
        <div class="point col-xs-6 col-sm-4 col-md-3 m-b-md" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img class="img-responsive" src="/images/k-12/safety-precautions/3.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>谨防交通意外</h2>
                  <p>准守交通规则，提高交通安全意识，谨防交通事故。</p>
                  <a href="#">了解相关知识</a>
                </figcaption>
              </figure>
        </div>
        <div class="point col-xs-6 col-sm-4 col-md-3 m-b-md" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img class="img-responsive" src="/images/k-12/safety-precautions/4.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>安全用电</h2>
                  <p>定期检查，防止老化短路；安全操作，防止触电事故。</p>
                  <a href="#">了解相关知识</a>
                </figcaption>
              </figure>
        </div>
        <div class="point col-xs-6 col-sm-4 col-md-3 m-b-md" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
              <figure>
                <img class="img-responsive" src="/images/k-12/safety-precautions/5.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>小心使用燃气</h2>
                  <p>养成「慎防漏气」、「人离火灭」的好习惯，定期安全检查。</p>
                  <a href="#">了解相关知识</a>
                </figcaption>
              </figure>
        </div>
        <div class="point col-xs-6 col-sm-4 col-md-3 m-b-md" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">
          
              <figure>
                <img class="img-responsive" src="/images/k-12/safety-precautions/6.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>预防烧烫伤</h2>
                  <p>小心接触高温物品，掌握应急处理办法。</p>
                  <a href="#">了解相关知识</a>
                </figcaption>
              </figure>
        </div>
        <div class="point col-xs-6 col-sm-4 col-md-3 m-b-md" data-path-hover="m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z">

              <figure>
                <img class="img-responsive" src="/images/k-12/safety-precautions/7.png" />
                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
                <figcaption>
                  <h2>注意戏水安全</h2>
                  <p>在家长的指导下戏水，并预先准备救生用具，防止溺水事故。</p>
                  <a href="#">了解相关知识</a>
                </figcaption>
              </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="book-promotion">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 p-y-md">
          <img class="book-cover img-responsive center-block" src="/images/k-12/book-cover.png">
        </div>
        <div class="intro col-xs-12 col-sm-6 col-md-6 text-right">
          <h1>意外伤害<br>预防与应对手册</h1>
          <a class="btn btn-green btn-shadow" href="#">在线阅读</a>
        </div>
      </div>
    </div>
  </section>

  <section class="insurance-providers">
    <div class="row p-y-md">
      <div class="col-xs-offset-1 col-xs-10 text-center">
        <small class="text-muted">
          学生平安保险计划由以下公司承保
        </small>
      </div>
    </div>
    <div class="row p-b-md">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 m-b-md">
        <img class="img-responsive center-block" src="/images/k-12/insurance-providers/china-life.png" width="250" height="68">
      </div>
    </div>
  </section>

  <%= partial '../../partials/footer.html' %>

</div><!-- /End Main Container -->

<a href="#" class="top mature-green">返回顶部</a>

<% content_for :page_specific_js do %>
<script type="text/javascript">
  $(function(){

    // Hero
    var happyKids = $('.hero .illustration img');
    var hero = $('.hero');
    var setHeroBackgroundPosition = function() {
      var correctBackgroundPosition = function() {
        var correctBackgroundPositionX = ($(happyKids).offset().left - $(hero).offset().left + $(happyKids).width() / 2) - 1918 / 2;
        var correctBackgroundPositionY = ($(happyKids).offset().top - $(hero).offset().top + $(happyKids).width() * 0.75) - 396;
        return correctBackgroundPositionX + 'px ' + correctBackgroundPositionY + 'px';
      };
      $(hero).css({
        'background-image': 'url(/images/k-12/happy-kids-bg.png)',
        'background-position': correctBackgroundPosition()
      });
    };
    setHeroBackgroundPosition();
    $(happyKids).on('load', function() {
      setHeroBackgroundPosition();
    });
    $(window).resize(function() {
      setHeroBackgroundPosition();
    });

    // Safety Precaution
    $.each($('.safety-precautions .point'), function() {
      var s = Snap($(this).find('svg')[0]);
      var path = s.select('path');
      var pathConfig = {
        from: 'm 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z',
        to: 'm 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z'
      };
      var mouseEnterCount = 0;
      $(this).on('mouseenter', function(event) {
        mouseEnterCount++;
        if (mouseEnterCount > 0) {
          path.animate( { 'path' : pathConfig.to }, 330, mina.backout);
        }
      });
      $(this).on('mouseleave', function(event) {
        mouseEnterCount--;
        if (mouseEnterCount === 0) {
          path.animate( { 'path' : pathConfig.from }, 330, mina.backout);
        }
      });
    });

    var bookPromotion = $('.book-promotion');
    var bookCover = $('.book-promotion img.book-cover');
    var setBookPromotionBackgroundPosition = function() {
      var correctBookPromotionBackgroundSize = function() {
        return $(bookCover).width() / $(bookPromotion).width() * 1.4 * 100 + '%';
      };
      $(bookPromotion).css({
        'background-size': correctBookPromotionBackgroundSize()
      });
    };
    setBookPromotionBackgroundPosition();
    $(bookCover).on('load', function() {
      setBookPromotionBackgroundPosition();
    });
    $(window).resize(function() {
      setBookPromotionBackgroundPosition();
    });

  });
</script>
<% end %>
