---
title: 学生平安保险计划一投保
---

<div class="main-container" id="page">
  <%= partial '../../partials/header.html' %>

  <section class="orders">
    <div class="container">
      <div class="row p-y-md">
        <div class="col-md-12 text-center">
          
        </div>
      </div>
      <div class="order waiting-for-payment row p-b-md">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <input type="hidden" id="orderNo" value="">
              <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8">
                  <p class="truncate-with-ellipsis">
                    <img src="/images/solution-icons/k-12-4.png" width="100" height="100">
                    <a href="/serials/k-12/" target="_blank">学生平安保险</a>
                  </p>
                </div>
                <div class="hidden-xs col-sm-2 col-md-2" id="money">
                  
                </div>
                <div class="hidden-xs col-sm-2 col-md-2 text-right" id="order_status">
                  
                </div>
              </div>
            </div>
<!--             
            未付款订单不显示这一行
            <div class="panel-footer">
              <ul class="actions">
                <li>
                  <a href="#">退款</a>
                </li>
                <li>
                  <a href="#">下载电子保单</a>
                </li>
              </ul>
            </div>
 -->
          </div>
        </div>
      </div>

      <div class="row p-b">
        <div class="col-md-12 text-center">
          <h3>立即支付</h3>
        </div>
      </div>
      <div class="row gateways p-b-md">
        <div class="gateway alipay col-xs-6 col-sm-offset-2 col-sm-4 col-md-offset-3 col-md-3 text-center">
          <a href="javascript:;">
            <img class="img-responsive center-block" src="/images/payment-gateways/alipay.png" alt="使用支付宝支付" width="800" height="300">
          </a>
        </div>
        <div class="gateway wechat col-xs-6 col-sm-4 col-md-3 text-center">
          <a href="javascript:;">
            <img class="img-responsive center-block" src="/images/payment-gateways/wechat.png" alt="使用微信支付" width="800" height="300">
          </a>
          <div class="qr-code">
            
          </div>
        </div>
      </div>

    </div>
  </section>

  <%= partial '../../partials/footer.html' %>
</div>

<% content_for :page_specific_js do %>
<script src="/javascripts/plugins/jquery.qrcode.min.js"></script>
<script type="text/javascript">
var orderNo = getQueryString('orderId');

 $(function() {
  $('#orderNo').val(orderNo);

  $('.gateway.wechat a').click(function() {
    if ($('.gateways').hasClass('wechat-enabled')) {
      $('.gateways').removeClass('wechat-enabled');
    } else {

      $.ajax({
            url: API_URL + '/wx/pay/native',
            type: 'POST',
            dataType: "JSON",
            data: {
              orderNumber : orderNo,
              convert : false
            },
            async: true,
            success: function(obj) {
                if (obj.status.code == 0) {
                  $('.qr-code').empty();
                  $(".qr-code").qrcode({ 
                      render: "canvas",
                      width: 200,
                      height:200,
                      text: obj.data.qrUrl
                  });
                    $('.gateways').addClass('wechat-enabled');
                } else {
                    alert('生成支付二维码失败');
                }
            },
            error: function(data) {
                alert('系统错误，请刷新后重试！');
            }
        });

      
    }
    return false;
  });

  initLoad(orderNo);
 });

 function initLoad(orderNo){
      $.ajax({
            url: API_URL + '/order/get',
            type: 'get',
            dataType: "JSON",
            data: {
              orderNumber : orderNo
            },
            async: true,
            success: function(obj) {
                if (obj.status.code == 0) {
                    var title_text = '订单 #'+obj.data.id + '<span class="visible-xs-inline"> ・ ￥'+obj.data.moneyStr+'元 ・ '+obj.data.statusStr+'</span>';
                    $('.panel-title').html(title_text);
                    
                    $('#money').html('<p>￥'+obj.data.moneyStr+'元</p>');
                    $('#order_status').html('<p>'+obj.data.statusStr+'</p>');
                } else {
                    alert('查询出错');
                }
            },
            error: function(data) {
                alert('系统错误，请刷新后重试！');
            }
        });
 }
</script>
<% end %>