---
title: 联系我们
---

<div class="main-container" id="page">
  <%= partial '/partials/header.html' %>
  <section class="login p-t-lg p-b-md bg-color">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
          <h4 class="m-b-0 text-left center-md text-center">联系我们</h4>
          <p class="lead text-left m-b-md center-md text-center">您遇到任何问题，都可以联系我们，我们将耐心为您解答！</p>
          <form class="form-horizontal" id="contactForm" role="form">
              <input type="hidden" name="type" value="2">
              <div class="form-group">
                  <label for="sfName">姓名及称谓</label>
                  <input type="text" class="form-control" id="sfName" name="name" placeholder="您的全名 先生/女士" required="">
              </div>
              <div class="form-group">
                  <label for="sfMobilePhoneNo">手机</label>
                  <input type="text" class="form-control" id="sfMobilePhoneNo" name="mobilePhoneNo" placeholder="您的手机号码" required="">
              </div>
              <div class="form-group">
                  <label for="sfEmail">邮箱（选填）</label>
                  <input type="email" class="form-control" id="sfEmail" name="email" placeholder="您的邮箱地址">
              </div>
              <div class="form-group">
                  <label for="sfContent">咨询问题（选填）</label>
                  <input type="text" class="form-control" id="sfContent" name="content" placeholder="您要咨询的问题"></textarea>
              </div>
              <div class="form-group">
                  <button type="submit" id="subFrom" class="btn btn-pink" data-loading-text="正在提交" autocomplete="off">提交</button>
              </div>
          </form>
          <p class="other-methods m-t">您也可致电我们：<a href="tel:158-1018-1477" class="f-w-700">158-1018-1477</a></p>
          <p class="other-methods m-t">或发送电子邮件：<a href="mailto:service@wanengins.com" class="f-w-700">service@wanengins.com</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- /End Signup Section -->

  <%= partial '/partials/footer.html' %>
</div><!-- /End Main Container -->

<!-- Back to Top Button -->
<a href="#" class="top">Top</a>

<% content_for :page_specific_js do %>
  <script type="text/javascript">

  $(function() {

    $('#subFrom').on('click', function() {
        var btn = $('#subFrom');
        $.ajax({
          url: 'http://115.28.75.21:8080/baibaoxiang/api/message/save',
          type: 'post',
          dataType: "JSON",
          data:$('#contactForm').serialize(),
          async: true,
          beforeSend:function(){
            btn.button('loading');
          },
          complete:function(){
            btn.button('reset');
          },
          success: function (obj){
            if (obj.status.code == 0) {
              alert('提交成功，我们的客服人员很快就会和您取得联系！感谢您的关注！');
              location.href = "contact.html";
            }else if (obj.status.code == 1) {
              alert('很抱歉，请您务必填写姓名及手机号，以方便我们与您联络！');
            }else if (obj.status.code == 2) {
              alert('很抱歉，您输入的手机号有误，请填写真实有效手机号码！');
            }
          },
          error: function (data){
            console.log("抱歉，系统故障。请致电我们的工作人员 158-1018-1477 获取更加快捷的服务！");
          }
        });
    });
  });
  </script>
<% end %>