---
title: 「唯你」高端健康系列保险计划
---

<div class="main-container high-end-health">

  <%= partial '/partials/header.html' %>


  <!--[if gt IE 8]><!-->
  <section class="heroes p-t-md">
      <div class="product-icon center-block img-circle y-middle m-t-md">
          <div class="lion-head">
            <div class="hair hair-1"></div>
            <div class="hair hair-2"></div>
            <div class="hair hair-3"></div>
            <div class="hair hair-4"></div>
            <div class="face face-1"></div>
            <div class="face face-2"></div>
            <div class="face face-3"></div>
          </div>
        <!-- <img class="center-block" src="/images/high-end-health/lion-head.svg" width="120" height="120"> -->
      </div>
      <div class="row">
        <div class="owl-carousel owl-theme carousel">
          <div class="col-md-12 hero hero-1 bg-img item">
            <div class="overlay"></div>
            <div class="row intro text-white text-center">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <h1><img src="/images/high-end-health/solution-name.svg" alt="唯你"><br><small>高端健康系列保险计划</small></h1>
                <p class="lead">独生女儿要出嫁了，我们两家子都盼望着早生贵子。心疼女儿就送她最需要的，唯你。</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 hero hero-2 bg-img item">
            <div class="overlay"></div>
            <div class="row intro text-white text-center">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <h1><img src="/images/high-end-health/solution-name.svg" alt="唯你"><br><small>高端健康系列保险计划</small></h1>
                <p class="lead">这一天起，你成为我的唯一，我发誓把全世界的美好带给你。唯你，值得给最爱的你。</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 hero hero-3 bg-img item">
            <div class="overlay"></div>
            <div class="row intro text-white text-center">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <h1><img src="/images/high-end-health/solution-name.svg" alt="唯你"><br><small>高端健康系列保险计划</small></h1>
                <p class="lead">生不生老二，这是个问题，又要挺着大肚子在人海中排队？直到他把这份玫瑰保单放在书桌上。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!--<![endif]-->

  <!--[if lt IE 9]>
    <div class="heros-for-legacy-ie">
      <table>
        <tr>
          <td>
            <img src="/images/high-end-health/heroes/legacy-ie/hero-1.jpg">
          </td>
          <td>
            <img src="/images/high-end-health/heroes/legacy-ie/hero-2.jpg">
          </td>
          <td>
            <img src="/images/high-end-health/heroes/legacy-ie/hero-3.jpg">
          </td>
      </table>
    </div>
  <![endif]-->

  <section class="at-a-glance">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-6 m-t-md">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-sm-6">
            <h5>高端健康险都涵盖哪些？</h5>
            <ul class="check-icon-bullets">
              <li>一般、大病、紧急医疗</li>
              <li>孕产、口腔、心理、体检、眼科</li>
              <li>第二诊疗意见、专家预约等</li>
            </ul>
          </div>
          <div class="col-xs-12 col-md-6 col-sm-6">
            <h5>我能够给谁投保？</h5>
            <ul class="check-icon-bullets">
              <li>您可以为自己和家人投保</li>
              <li>也可以为企业团队投保</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-offset-0 col-md-4 m-y-md">
        <div class="row">
          <div class="col-*-12">
            <a href="/contact.html" class="btn btn-dark">留言咨询</a>
          </div>
        </div>
        <div class="row">
          <div class="col-*-12">
            <a href="tel:158-1018-1477" class="btn btn-pink m-b-0"><h4><i class="icon-headphones"></i> 158-1018-1477</h4></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 p-y-md">
        <h3 class="wow fadeIn">尊享 • 舒心 • 安泰</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="row text-center">
          <div class="feature col-md-3 col-sm-6 col-xs-12 m-y-md p-x">
            <img class="img-responsive center-block" src="/images/high-end-health/feature-more-allowance.svg">
            <h4 class="m-t">超高的保额</h4>
            <p class="p-b-0">
              每年赔付金额最高达人民币 2000 万元。
            </p>
          </div>
          <div class="feature col-md-3 col-sm-6 col-xs-12 m-y-md p-x">
            <img class="img-responsive center-block" src="/images/high-end-health/feature-wider-coverage.svg">
            <h4 class="m-t">超宽的范围</h4>
            <p class="p-b-0">
              进口药、进口器材亦可赔付，甚至还有孕产、口腔、心理、体检、眼科等福利覆盖。
            </p>
          </div>
          <div class="feature col-md-3 col-sm-6 col-xs-12 m-y-md p-x">
            <img class="img-responsive center-block" src="/images/high-end-health/feature-experience-excellence.svg">
            <h4 class="m-t">超赞的服务</h4>
            <p class="p-b-0">
              头等舱级的服务，享受舒适与便捷，保险卡就是您的通行证。
            </p>
          </div>
          <div class="feature col-md-3 col-sm-6 col-xs-12 m-y-md p-x">
            <img class="img-responsive center-block" src="/images/high-end-health/feature-affordable.svg">
            <h4 class="m-t">超值的价格</h4>
            <p class="p-b-0">
              年保费人民币 17,473 元起，团体计划价格更划算。
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="payment-convenience">
    <div class="row text-white better-readability">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 p-y-md">
        <h3>直付就医：看病无需现场付费</h3>
        <p class="leading">
          直付医院网络内看病无需垫付现金，保险公司与服务机构直接结算。非直付医院就医报销流程亦轻松便捷。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="figure col-md-5 col-md-offset-6 col-sm-5 col-sm-offset-6 col-xs-12">
        <img class="img-responsive center-block" src="/images/high-end-health/payment-convenience-figure.svg">
      </div>
    </div>
  </section>

  <section class="extensive-network">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 p-t-md p-b text-center">
        <h3 class="wow fadeIn">数百家国内直付医疗机构</h3>
        <p class="leading">数百家国内优质直付医疗服务机构遍布各地（含港澳台地区），资源网络包括顶级公立医院（三级甲等）的外宾部或贵宾部，以及大部分的国际诊所。</p>
      </div>
    </div>
    <div class="row">
      <div class="featured-ppos p-b">
        <div class="item">
          <img class="img-responsive center-block" src="/images/high-end-health/featured-ppos/united-family-healthcare.png" alt="和睦家" width="256" height="256">
        </div>
        <div class="item">
          <img class="img-responsive center-block" src="/images/high-end-health/featured-ppos/international-sos.png" alt="国际 SOS" width="256" height="256">
        </div>
        <div class="item">
          <img class="img-responsive center-block" src="/images/high-end-health/featured-ppos/parkway-health.png" alt="百汇医疗" width="256" height="256">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center m-b-md">
        <small class="text-muted">
          不同的计划所对应的直付医疗机构及服务标准可能有所不同，请以最终签定的承保合同为准。
        </small>
      </div>
    </div>
  </section>

  <section class="global-coverage">
    <div class="row airplane">
      <div class="white-bg"></div>
      <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 col-xs-10 col-xs-offset-2">
        <img class="img-responsive center-block" src="/images/high-end-health/airplane.png" width="575" height="240">
      </div>
    </div>
    <div class="row text-white better-readability">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <h3>全球覆盖 随需选择</h3>
        <p class="leading">
          「唯你」高端健康系列保险计划提供多重方案，您可以根据自己的需要选择覆盖区域，获得环球保障。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 m-b-md">
        <img class="img-responsive center-block" src="/images/high-end-health/attractions.svg" width="921" height="346">
      </div>
    </div>
  </section>

  <section class="insurance-providers">
    <div class="row p-y-md">
      <div class="col-xs-offset-1 col-xs-10 text-center">
        <small class="text-muted">
          万能保「唯你」高端健康系列保险计划由以下公司承保
        </small>
      </div>
    </div>
    <div class="row p-b-md">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 m-b-md">
        <img class="img-responsive center-block" src="/images/high-end-health/insurance-providers/continent.png" width="250" height="68">
      </div>
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 m-b-md">
        <img class="img-responsive center-block" src="/images/high-end-health/insurance-providers/cigna.png" width="250" height="68">
      </div>
    </div>
  </section>

  <%= partial '/partials/footer.html' %>

</div><!-- /End Main Container -->

<a href="#" class="top mature-pink">返回顶部</a>

<% content_for :page_specific_js do %>
  <script type="text/javascript">
    $(function(){
     $(".heroes .carousel").owlCarousel({
     
          autoPlay: 5000,
          navigation: false,
          slideSpeed: 300,
          paginationSpeed: 400,
          singleItem: true
     
      });
      $('.featured-ppos').owlCarousel({
   
        autoPlay: 3000,

        items: 3,
        itemsDesktop: [1440, 3],
        itemsDesktopSmall: [1199, 3],
        itemsTablet: [991, 2],
        itemsMobile: [767, 1]
    });

      var repositionWorldMap = function() {
        var whiteBgHeight = function() {
         return $('.global-coverage .airplane .white-bg').height(); 
        }
        $('.global-coverage').css("background-position-y", whiteBgHeight());
      }

      repositionWorldMap();

      $(window).resize(function(){
        repositionWorldMap();
      });
    });
  </script>
<% end %>
