<div class="main-container" id="page">
  <%= partial '/partials/header.html' %>
  <section id="login" class="login p-y-lg bg-color">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 subscription">
          <h4 class="m-t-lg m-b-0 text-left center-md m-b-md">登录</h4>
          <div class="alert alert-danger" role="alert" id="error_alert" style="display:none">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            您输入的用户名或密码有误，请重新输入。
          </div>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="mobile" class="text-edit">手机号</label>
              <input type="tel" class="form-control" id="mobile" placeholder="手机号">
            </div>
            <div class="form-group">
              <label for="password" class="text-edit">密码</label>
              <input type="password" class="form-control" id="password" placeholder="密码">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-blue" id="loginUser">登录</button>
            </div>
          </form>

          <div class="forgot">
            <a href="/signup.html" id="signup">没有账户？立即注册。</a><br>
            <a href="/forgot-password.html" id="forgot_password">忘记密码？</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= partial '/partials/footer.html' %>
</div>

<% content_for :page_specific_js do %>
  <script type="text/javascript">

    $(function() {
      //登录
      $('#loginUser').on('click', function() {
        var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>';
        var mobileNo = $('#mobile').val();
        if(!checkMobil(mobileNo)){

            if(mobileNo==''){
              alert_text = alert_text + '请输入手机号！';
            }else{
              alert_text = alert_text + '手机号错误，请检查！';
            }
            
            $('#error_alert').html(alert_text);
            $('#error_alert').show();
            $('#mobile').focus();
            return false;
        }
        var password = $('#password').val();
        if(password==''){
            alert_text = alert_text + '请输入密码!';
            $('#error_alert').html(alert_text);
            $('#error_alert').show();
            $('#mobile').focus();
            return false;
        }

        $.ajax({
            url: API_URL + '/users/login',
            type: 'get',
            dataType: "JSON",
            data: {
              mobilePhoneNo : mobileNo,
              password : password
            },
            async: true,
            success: function(obj) {
                if (obj.status.code == 0) {
                    console.log('登录成功');
                    setCookie("user_id",obj.data.id,7*24*60*60*1000);
                    setCookie("user_name",obj.data.name,7*24*60*60*1000);
                    setCookie("user_phone",obj.data.mobilePhoneNo,7*24*60*60*1000);
                    location.href = 'index.html';
                } else if(obj.status.code == 1){
                    alert_text = alert_text + '手机号错误，请检查！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                } else if(obj.status.code == 2){
                    alert_text = alert_text + '请输入密码！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                }else if(obj.status.code == 3){
                    alert_text = alert_text + '用户名或密码错误！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                }else{
                    alert_text = alert_text + '系统错误，请稍后再试！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                }
            },
            error: function(data) {
                alert_text = alert_text + '系统错误，请刷新后重试！';
                $('#error_alert').html(alert_text);
                $('#error_alert').show();
            }
        });
      });

    });
  </script>
<% end %>