<div class="main-container" id="page">
  <%= partial '/partials/header.html' %>
  <section class="login p-y-lg bg-color">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 subscription">
          <h4 class="m-t-lg m-b-0 text-left center-md m-b-md">注册</h4>
          <div class="alert alert-danger" role="alert" id="error_alert" style="display:none">
            <!--
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            您输入的手机号已经注册过，请直接登录。如忘记密码，您可以<a href="/forgot-password.html">重置密码</a>。
            -->
          </div>
          <form class="form-horizontal" role="form">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label for="mobile" class="text-edit">手机号</label>
                  <input type="tel" class="form-control" id="mobile" placeholder="手机号">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 p-r-0">
                <button class="get-verification-code btn btn-dark btn-sm p-0" id="smscode">获取验证码</button>
                <!-- 手机号格式不正确禁用按钮 -->
                <!-- <button class="get-verification-code btn btn-grey btn-sm p-0" disabled>获取验证码</button> -->
                <!-- 重复获取验证码间隔倒计时 -->
                <!-- <button class="get-verification-code btn btn-grey btn-sm p-0" disabled>35秒</button> -->
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="text-edit">密码</label>
              <input type="password" class="form-control" id="password" placeholder="密码">
            </div>
            <div class="form-group">
              <label for="verificationCode" class="text-edit">短信验证码</label>
              <input type="text" class="form-control" id="verificationCode" placeholder="短信验证码">
            </div>
            <div class="form-group">
              <button class="btn btn-blue" id="registerUser">注册</button>
            </div>
          </form>
          <p class="terms m-t">点击注册即表您已阅读并同意<a href="/terms.html" class="f-w-700" target="_blank">万能保会员协议</a>。</p>
          <div class="forgot">
            <a href="/login.html">已有账户？立即登录。</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= partial '/partials/footer.html' %>
</div>

<% content_for :page_specific_js do %>
  <script type="text/javascript">
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数

    $(function() {
      // 获取验证码按钮
      $('#smscode').on('click', function() {
          $('#error_alert').hide();
          var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>';
          var mobileNo = $('#mobile').val();
          if(!checkMobil(mobileNo)){
              alert_text = alert_text + '手机号错误，请检查！';
              $('#error_alert').html(alert_text);
              $('#error_alert').show();
              $('#mobile').focus();
              return false;
          }

          $.ajax({
            url: API_URL + '/users/check',
            type: 'get',
            dataType: "JSON",
            data: {
              mobilePhoneNo : mobileNo,
              type : 1
            },
            async: true,
            success: function(obj) {
                if (obj.status.code == 0) {
                    console.log('发送成功');
                    curCount = count;
                    $('#smscode').attr("disabled", "true");
                    $('#smscode').attr("class", "get-verification-code btn btn-grey btn-sm p-0");
                    $('#smscode').text(curCount+'秒');
                    InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
                } else if(obj.status.code == 1){
                    alert_text = alert_text + '手机号错误，请检查！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                } else if(obj.status.code == 2){
                    alert_text = alert_text + '您输入的手机号已经注册过，请直接登录。如忘记密码，您可以<a href="/forgot-password.html">重置密码</a>。';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                }else{
                    alert_text = alert_text + '系统错误，请稍后再试！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                }
            },
            error: function(data) {
                alert_text = alert_text + '系统错误，请刷新后重试！';
                $('#order_error_alert').html(alert_text);
                $('#order_error_alert').show();
            }
        });
        return false;
      });


      // 注册按钮
      $('#registerUser').on('click', function() {
          $('#error_alert').hide();
          var alert_text = '<i class="glyphicon glyphicon-exclamation-sign"></i>';
          var mobileNo = $('#mobile').val();
          if(!checkMobil(mobileNo)){
              alert_text = alert_text + '手机号错误，请检查！';
              $('#error_alert').html(alert_text);
              $('#error_alert').show();
              $('#mobile').focus();
              return false;
          }

          var password = $('#password').val();
          if(password==""){
              alert_text = alert_text + '请输入密码！';
              $('#error_alert').html(alert_text);
              $('#error_alert').show();
              $('#password').focus();
              return false;
          }
          var verificationCode = $('#verificationCode').val();
          if(verificationCode==""){
              alert_text = alert_text + '请输入短信验证码！';
              $('#error_alert').html(alert_text);
              $('#error_alert').show();
              $('#verificationCode').focus();
              return false;
          }

          $.ajax({
            url: API_URL + '/users/register',
            type: 'post',
            dataType: "JSON",
            data: {
              mobilePhoneNo : mobileNo,
              password : password,
              messageCode : verificationCode
            },
            async: true,
            success: function(obj) {
                if (obj.status.code == 0) {
                    console.log('注册成功');
                    location.href = 'login.html';
                } else if(obj.status.code == 1){
                    alert_text = alert_text + '手机号错误，请检查！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                } else if(obj.status.code == 2){
                    alert_text = alert_text + '请输入密码！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                }else if(obj.status.code == 3){
                    alert_text = alert_text + '验证码超时，请重新发送！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                }else if(obj.status.code == 4){
                    alert_text = alert_text + '验证码错误，请检查！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                }else{
                    alert_text = alert_text + '系统错误，请稍后再试！';
                    $('#error_alert').html(alert_text);
                    $('#error_alert').show();
                }
            },
            error: function(data) {
                alert_text = alert_text + '系统错误，请刷新后重试！';
                $('#error_alert').html(alert_text);
                $('#error_alert').show();
            }
        });
        return false;
      });
      


    });


  //timer处理函数
  function SetRemainTime() {
      if (curCount == 0) {                
          window.clearInterval(InterValObj);//停止计时器
          $("#smscode").removeAttr("disabled");//启用按钮
          $('#smscode').attr("class", "get-verification-code btn btn-dark btn-sm p-0");
          $('#smscode').text('重新获取');
      }
      else {
          curCount--;
          $('#smscode').text(curCount+'秒');
      }
  }
  </script>
<% end %>